{% extends 'ClarolineCoreBundle::mockup/Notifications/notifications-tool.html.twig' %}

{% block panelTitle %}
    <p style="padding: 5px">
        Paramètres des notifications
        <a class="btn btn-default pull-right disabled" style="color: black" href="#">
            S'abonner au flux RSS <i class="fa fa-rss"></i>
        </a>
        <a class="btn btn-default pull-right disabled" style="color: black" href="#">
            Générer l&#039;adressse du flux RSS
        </a>
    </p>


{% endblock %}

{% block panelRest %}

    <style type="text/css" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

        /* For possible modals on this page */

        .modal-header, h4, .close {
            background-color: #27C24C;
            color:white !important;
            text-align: center;
            font-size: 18px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }

        /* To give full width to tables */

        table.table.table-hover {
            width:100%;
        }

        /* To change the backgroud color of the top bar */

        .navbar-inverse {
            background-color: #27C24C;
            border-color: #27C24C;
        }
        .navbar.navbar-inverse.navbar-fixed-top {
            border-bottom: 2px solid #27C24C;
        }

        /* To have a portfolio-like look */

        #top_bar li:not(:last-child) > a, .top-bar li:not(:last-child) > a {
            color: white;
            border-right: 1px solid #5cb85c !important;
        }
        .panel-default > .panel-heading {
            color: #fff;
            background-color: #27C24C;
            border: none;
        }
        table.table_portfolios .statusCol {
            width: 250px;
        }
        table.table_portfolios .actionsCol {
            width: 200px;
        }
        table.table_portfolios .portfolio .block {
            display: block;
        }
        table.table_portfolios .portfolio td {
            padding: 10px 15px;
            vertical-align: middle;
        }
        table.table_portfolios .portfolio td .dropdown-menu a.delete {
            color: #d9534f;
        }
        table.table_portfolios .portfolio td .dropdown-menu a.delete:hover {
            background-color: #d2322d;
            color: #fff;
        }
        table.table_portfolios .portfolio td .visibility .badge {
            display: block;
            float: left;
            height: 15px;
            margin-right: 5px;
            width: 15px;
        }
        table.table_portfolios .portfolio td .visibility .badge.visibile_to_me {
            background-color: #d9534f;
        }
        table.table_portfolios .portfolio td .visibility .badge.visible_for_some_users {
            background-color: #ed9c28;
        }
        table.table_portfolios .portfolio td .visibility .badge.visible_for_platform_user {
            background-color: #428bca;
        }
        table.table_portfolios .portfolio td .visibility .badge.visible_for_everybody {
            background-color: #5cb85c;
        }
        table.table_portfolios .portfolio td .exchange_link.highlight {
            border-color: #eea236;
            color: #eea236;
        }
        table.table_portfolios .portfolio td .exchange_link .badge {
            background-color: #f0ad4e;
            top: 0;
        }
        div.pagination ul {
            margin: 0;
        }
        .guided_portfolios_panel_group {
            margin-bottom: 20px;
        }
        .guided_portfolios_panel_group .guided_portfolios_panel .panel-body {
            padding-bottom: 0;
            padding-top: 0;
        }
        .guided_portfolios_panel_group .guided_portfolios_panel table.table_portfolios {
            margin-bottom: 0;
            margin-top: 0;
        }
        .guided_portfolios_panel_group .guided_portfolios_panel table.table_portfolios tbody td {
            border-top: 0 none;
        }
        .guided_portfolios_panel_group .guided_portfolios_panel table.table_portfolios tbody tr + tr td {
            border-top: 1px solid #ddd;
        }
        #visibility_form a.remove, #guides_form a.remove {
            color: #fff;
            margin-left: 2px;
        }
        #visibility_form a.remove:hover, #guides_form a.remove:hover {
            color: #ac2925;
            text-decoration: none;
        }
        #visibility_form .form-collection-element, #guides_form .form-collection-element {
            border-radius: 0.25em;
            padding: 2px 5px 5px;
        }
        .portfolio_toolbar {
            margin-bottom: 10px;
            margin-left: 20px;
            margin-top: 20px;
        }
        .clear {
            clear: both;
        }
        .help_text {
            padding-left: 10px;
            padding-top: 10px;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li {
            background-color: #f5f5f5;
            transition: all 0.2s ease-in-out 0s;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li span.icon-bg {
            background-color: #337ab7;
            height: 3px;
            left: 0;
            position: absolute;
            top: 0;
            transition: height 0.2s ease-in-out 0s;
            width: 100%;
            z-index: 0;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li span.option-text {
            position: relative;
            z-index: 5;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li > a {
            transition: all 0.2s ease-in-out 0s;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li > a:not(.btn) {
            border-radius: 0;
            border-top: 0 none;
            margin-right: -1px !important;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li > a:focus:not(.btn), .portfolio-tabpanel ul.nav.nav-tabs > li > a:active:not(.btn) {
            outline: medium none;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li:hover:not(.active) .icon-bg {
            height: 100%;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li:hover:not(.active) a {
            color: #ffffff;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li.active > a:hover, .portfolio-tabpanel ul.nav.nav-tabs > li.active > a:focus, .portfolio-tabpanel ul.nav.nav-tabs > li:not(.active) a:hover, .portfolio-tabpanel ul.nav.nav-tabs > li:not(.active) a:focus {
            background-color: #f5f5f5;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li.active a {
            background-color: #f5f5f5;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li.default-ressources-tab .icon-bg {
            background-color: #337ab7;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li.widgets-tab .icon-bg {
            background-color: #ffb61c;
        }
        .portfolio-tabpanel ul.nav.nav-tabs > li.list-tab .icon-bg {
            background-color: #e94b3b;
        }
        .portfolio-tabpanel .tab-pane {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-color: #f5f5f5;
            border-color: -moz-use-text-color #ddd #ddd;
            border-image: none;
            border-style: none solid solid;
            border-width: 0 1px 1px;
            min-height: 150px;
            padding: 10px;
        }
    </style>

    <div class="container-fluid" style="margin: 12px">
        <div class="row content">
            <div class="col-md-12">
                <div class="portfolio-tabpanel" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist" id="portfolio_space_tabs">
                        <li class="default-ressources-tab active">
                            <a href="#default" aria-controls="default-ressources" role="tab" data-toggle="tab">
                                <span class="icon-bg"></span>
                                <span class="option-text">
                                    <span class="visible-md-inline visible-lg-inline">Suivi par défaut</span>
                                </span>
                            </a>
                        </li>
                        <li class="widgets-tab followed-ressources-tab">
                            <a href="#detail" aria-controls="followed-ressources" role="tab" data-toggle="tab">
                                <span class="icon-bg"></span>
                                <span class="option-text">
                                    <span class="visible-md-inline visible-lg-inline">Ressources que je suis</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <form id="notification-user-parameters-form" action="#" method="post">
                    <div class="tab-content">
                        <div id="default" class="tab-pane fade in active">
                            <p></p>

                        <div class="table-responsive">
                            <table id="notification-parameters-types-table" class="table table-striped table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th style="color: white; background-color: #337ab7">Objet</th>
                                    <th class="text-center" style="color: white; background-color: #337ab7">Recevoir une notification</br>sur la plateforme</th>
                                    <th class="text-center" style="color: white; background-color: #337ab7">Recevoir un courriel</th>
                                    <th class="text-center" style="color: white; background-color: #337ab7">Ajouter au flux RSS <i class="fa fa-rss"></i></th>
                                    <th class="text-center" style="color: white; background-color: #337ab7">Recevoir une notification</br>sur mon smartphone</th>
                                </tr>
                                </thead>
                                <tbody class="types-table-body">
                                    <tr>
                                        <td> Accès ressource </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Annonces </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Badges </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Blog
                                            <span class="rotate270 caret"></span>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Collecticiel
                                            <span class="rotate270 caret"></span>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Cours
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Evaluation
                                            <span class="rotate270 caret"></span>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Forum</strong>
                                            <span class="rotate270 caret"></span>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" disabled="" checked="" name="role-change_right[]" value="visible" class="chk-type-visible">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" disabled="" checked="" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" disabled="" class="chk-type-visible" value="rss" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" disabled="" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            - Création d'un forum
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="forum[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            - Ajout d'un sujet
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="forum[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Nouvelle inscription
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Page Wiki
                                            <span class="rotate270 caret"></span>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Portfolio
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Réseaux sociaux
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Textes
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="visible" name="role-change_right[]" checked/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="mail" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="rss" name="role-change_right[]"/>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="chk-type-visible" value="phone" name="role-change_right[]"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                            <button type="submit" id="edit-tools-btn" href="#" class="btn btn-primary pull-right disabled">
                                Modifier
                            </button>
                            <a class="btn btn-default pull-right" href="#">
                                Annuler
                            </a>
                        </div>
                        <div id="detail" class="tab-pane fade">
                            <p></p>
                            <form id="notification-user-parameters-form" action="#" method="post">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th style="background-color: #337ab7">
                                                <a href="#" style="color: #fff"> Objet </a>
                                            </th>
                                            <th style="background-color: #337ab7">
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </th>
                                            <th style="color: white; background-color: #337ab7">
                                                Recevoir une notification</br>sur la plateforme
                                            </th>
                                            <th style="background-color: #337ab7">
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </th>
                                            <th style="color: white; background-color: #337ab7">
                                                Recevoir un courriel
                                            </th>
                                            <th style="background-color: #337ab7">
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </th>
                                            <th style="color: white; background-color: #337ab7">
                                                Ajouter au flux RSS
                                            </th>
                                            <th style="background-color: #337ab7">
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </th>
                                            <th style="color: white; background-color: #337ab7">
                                                Recevoir une notification</br>sur mon smartphone
                                            </th>
                                            <th style="color: white; background-color: #337ab7">
                                                Suivre
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">Math / FAQ (Forum)</a>
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="visible"
                                                        name="role-change_right[]"
                                                        checked                                     />
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="mail"
                                                        name="role-change_right[]"
                                                />
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="rss"
                                                        name="role-change_right[]"
                                                />
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="rss"
                                                        name="role-change_right[]"
                                                />
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="visible"
                                                        name="role-change_right[]"
                                                        checked
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">Géo / Semaine 1 / Synthèse (Collecticiel)</a>
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="visible"
                                                        name="role-subscribe[]"
                                                        checked                                     />
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="mail"
                                                        name="role-change_right[]"
                                                        checked
                                                />
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="rss"
                                                        name="role-subscribe[]"
                                                />
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="rss"
                                                        name="role-change_right[]"
                                                />
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="visible"
                                                        name="role-change_right[]"
                                                        checked
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">Français / Vos questions (Exercice) / Questions générales (Sujet)</a>
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="visible"
                                                        name="badge-award[]"
                                                        checked                                     />
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="mail"
                                                        name="role-change_right[]"
                                                />
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="rss"
                                                        name="badge-award[]"
                                                        checked
                                                />
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="rss"
                                                        name="role-change_right[]"
                                                />
                                            </td>
                                            <td colspan="2">
                                                <input
                                                        type="checkbox"
                                                        class="chk-type-visible"
                                                        value="visible"
                                                        name="role-change_right[]"
                                                        checked
                                                />
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row" style="padding-top: 15px; padding-bottom: 15px">
                                    <div class="col-xs-12 col-sm-9 col-md-8">
                                        <div class="pagination">
                                            <ul>
                                                <li class="prev disabled">
                                                    <span>← Précédent</span>
                                                </li>
                                                <li class="active">
                                                    <span>1</span>
                                                </li>
                                                <li class="prev disabled">
                                                    <a href="#">2</a>
                                                </li>
                                                <li class="prev disabled">
                                                    <a href="#">3</a>
                                                </li>
                                                <li class="prev disabled">
                                                    <a href="#">4</a>
                                                </li>
                                                <li class="next disabled">
                                                    <a href="#">Suivant →</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" id="edit-tools-btn" href="#" class="btn btn-primary pull-right disabled">
                                    Modifier
                                </button>
                                <a class="btn btn-default pull-right" href="#">
                                    Annuler
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="container-fluid">
                <div class="row">
                    <p>
                        <span class="pull-right locale-select label label-default">FR</span>
                        <span>Développé par <a href="#">Claroline</a></span>
                    </p>
                </div>
            </div>
        </div>


{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
{#<link href="{{ asset('style.css') }}" rel="stylesheet" type="text/css" media="screen">#}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
</script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>

{% endblock %}