{% extends 'ClarolineCoreBundle::mockup/Notifications/intro-tool.html.twig' %}

{% block panelRest %}

    <style type="text/css" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

        /* For possible modals on this page */

        .modal-header, h4, .close {
            background-color: #27C24C;
            color:white !important;
            text-align: center;
            font-size: 18px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }

        /* To give full width to tables */

        table.table.table-hover {
            width:100%;
        }

        /* To change the backgroud color of the top bar */

        .navbar-inverse {
            background-color: #27C24C;
            border-color: #27C24C;
        }
        .navbar.navbar-inverse.navbar-fixed-top {
            border-bottom: 2px solid #27C24C;
        }
    </style>

    <div class="container-fluid" style="margin: 50px; padding: 12px">
        <div class="well well-lg">
            <h3><strong>Remarques préliminaires</strong></h3>
                <ul>
                    {#<li style="font-size: large">Le bouton <button class="btn btn-primary disabled">Modifier</button> reste inactif tant que l'utilisateur n'a rien coché ou décoché.</li>#}
                    <li style="font-size: large">Quand l'utilisateur clique sur le bouton <button class="btn btn-primary">Enregistrer</button>, il reçoit le message suivant: "Vos modifications ont bien été prises en compte".</li>
                    <li style="font-size: large">Le bouton <button class="btn btn-primary disabled">Créer flux RSS</button> reste inactif tant que l'utilisateur n'a rien coché ou décoché dans la colonne "Ajouter au flux RSS".
                        Il devient alors <button class="btn btn-primary">Créer le flux RSS</button>.
                    </li>
                    <li style="font-size: large">Le bouton <button class="btn btn-primary disabled">S'abonner au flux RSS <i class="fa fa-rss"></i></button> reste inactif tant que l'utilisateur n'a pas généré l'adresse du flux RSS.
                        Il devient alors <button class="btn btn-primary">S'abonner au flux RSS <i class="fa fa-rss"></i></button>.
                    </li>
                    <li style="font-size: large">La colonne "Recevoir une notification sur mon smartphone" ne sera activée que lorsque l'application pour Android et iOS sera fonctionnelle.</li>
                </ul>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{#{{ parent() }}#}
{% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
{#<link href="{{ asset('style.css') }}" rel="stylesheet" type="text/css" media="screen">#}

{% endblock %}

{% block javascripts %}
{#{{ parent() }}#}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
</script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>

{% endblock %}