{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Création d'une vue{% endblock %}

{% block panelRest %}

<div class="panel-body">
    <div id="conteneur" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p>Nom de la vue: <input type="text" placeholder=" Nom de la vue"></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <button type="button" class="btn btn-primary" title="Ajouter un filtre"><i class="fa fa-plus"> Ajouter un filtre</i></button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <button type="button" class="btn btn-default" title="Ajouter une règle"><i class="fa fa-plus"> Ajouter une règle</i></button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <strong>Filtres :</strong></br>
                <div class="form">
                    <select class="form-control" id="sel1">
                        <option selected>Utilisateurs</option>
                    </select>
                </div>
                <div class="form">
                    <label for="sel2">Critères :</label>
                    <select class="form-control" id="sel2">
                        <option selected>Tous les utilisateurs</option>
                        <option>Les utilisateurs de mes EA</option>
                        <option>Un groupe d'utilisateurs</option>
                        <option>Les utilisateurs d'un EA</option>
                        <option>Les utilisateurs d'une ressource</option>
                        <option>Quelques utilisateurs</option>
                        <option>etc...</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-footer" style="text-align: right">
    <button type="button" class="btn btn-default" title="Annuler la création de vue">Annuler</i></button>
    <button type="button" class="btn btn-primary" title="OK pour créer la vue">OK</i></button>
</div>
<div class="container">
    <div class="row features" style="margin-top: 20px">
        <div class="col-md-offset-1 col-md-10">
            <div class="well well-lg" style="font-style: italic; background-color: lightgoldenrodyellow">Si l'utilisateur ne veut pas sélectionner tous les utilisateurs, il peut affiner son choix via le menu déroulant des critères.
                Dans notre scénario, on imagine qu'il veut sélectionner les utilisateurs de ses espaces d'activités.</br>
                Dans la partie droite de la page, il peut "Ajouter un filtre" ou définir lui-même des règles à appliquer sur les données. A ce stade-ci, il pourrait par exemple choisir
                les élèves inscrits dans plus d'un espace d'activités.</br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.csss"
      rel="stylesheet"
/>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"
>
</script>
<script type="text/javascript"
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
>
</script>

{% endblock %}