{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Edition d'une vue{% endblock %}

{% block panelRest %}

<div class="panel-body">
    <div id="conteneur" class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p>Nom de la vue: <input type="text" placeholder=" Nom de la vue"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="text-align: center">
                    <button type="button" class="btn btn-primary" title="Ajouter un filtre"><i class="fa fa-plus"> Filtre</i></button>
                </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="text-align: center">
                    <button type="button" class="btn btn-primary" title="Ajouter un critère"><i class="fa fa-plus"> Critère</i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form">
                    <label for="sel1">Filtres :</label>
                    <select class="form-control" id="sel1">
                            <option selected>Utilisateurs</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form">
                    <label for="sel2">Critères :</label>
                    <select class="form-control" id="sel2">
                        <option selected>Les utilisateurs de mes EA</option>
                        <option>Tous les utilisateurs</option>
                        <option>Un groupe d'utilisateurs</option>
                        <option>Les utilisateurs d'un EA</option>
                        <option>Les utilisateurs d'une ressource</option>
                        <option>Quelques utilisateurs</option>
                        <option>etc...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 25px 0 20px 0">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form">
                    <label for="sel3">Filtres :</label>
                    <select class="form-control" id="sel3">
                        <option disabled>Utilisateurs</option>
                        <option>Espaces d'activités</option>
                        <option>Ressources</option>
                        <option>Période</option>
                        <option>Forums</option>
                        <option>Exercices</option>
                        <option>Parcours</option>
                        <option>Activités</option>
                        <option>Collecticiels</option>
                        <option>Pages wikis</option>
                        <option>Blogs</option>
                        <option>Annonces</option>
                        <option>Sondages</option>
                        <option>Wikis</option>
                        <option>Chats</option>
                        <option>etc...</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-footer" style="text-align: right">
    <button type="button" class="btn btn-default" title="Cliquez pour annuler la création de vue">Annuler</i></button>
    <button type="button" class="btn btn-primary" title="Cliquez pour créer la vue">OK</i></button>
</div>
<div class="container">
    <div class="row features" style="margin-top: 20px">
        <div class="col-md-offset-1 col-md-10">
            <div class="well well-lg" style="font-style: italic; background-color: lightgoldenrodyellow">
                Dans le menu des filtres, l'option "Utilisateurs" n'est plus sélectionnable.</br>
                Dans notre scénario, on imagine que l'utilisateur porte son choix sur "Exercices".</br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.csss"
      rel="stylesheet"
/>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"
>
</script>
<script type="text/javascript"
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
>
</script>

{% endblock %}