{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Tableau de bord{% endblock %}

{% block panelRest %}

    <div class="panel-body">
        <div class="container-fluid">
            <div class="row features">
                <div class="col-xs-3">
                    <p><button class="btn btn-primary" title="Créer une vue"><i class="fa fa-plus"></i> Créer une vue </button></p>
                    <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Recherche"></p>
                        <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button> </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row features">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-striped table-hover" style="width:100%">
                        <tbody>
                            <tr>
                                <td><a href="#" title="Ouvrir cette vue">Exercices</a></td>
                                <td style="text-align: right">
                                    <a href="#"><button type="button" class="btn btn-primary btn-sm" title="Editer cette vue"><i class="fa fa-pencil"></i> Modifier</button></a>
                                    <a href="#"><button type="button" class="btn btn-primary btn-sm" title="Exporter les résultats en CSV"><i class="fa fa-sign-out"></i> Exporter</button></a>
                                    <a href="#"><button type="button" class="btn btn-danger btn-sm" title="Supprimer cette vue"><i class="fa fa-trash-o"></i> Supprimer</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" title="Ouvrir cette vue">Parcours</a></td>
                                <td style="text-align: right">
                                    <a href="#"><button type="button" class="btn btn-primary btn-sm" title="Editer cette vue"><i class="fa fa-pencil"></i> Modifier</button></a>
                                    <a href="#"><button type="button" class="btn btn-primary btn-sm" title="Exporter les résultats en CSV"><i class="fa fa-sign-out"></i> Exporter</button></a>
                                    <a href="#"><button type="button" class="btn btn-danger btn-sm" title="Supprimer cette vue"><i class="fa fa-trash-o"></i> Supprimer</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" title="Ouvrir cette vue">Fréquentation</a></td>
                                <td style="text-align: right">
                                    <a href="#"><button type="button" class="btn btn-primary btn-sm" title="Editer cette vue"><i class="fa fa-pencil"></i> Modifier</button></a>
                                    <a href="#"><button type="button" class="btn btn-primary btn-sm" title="Exporter les résultats en CSV"><i class="fa fa-sign-out"></i> Exporter</button></a>
                                    <a href="#"><button type="button" class="btn btn-danger btn-sm" title="Supprimer cette vue"><i class="fa fa-trash-o"></i> Supprimer</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" title="Ouvrir cette vue">Forums</a></td>
                                <td style="text-align: right">
                                    <a href="#"><button type="button" class="btn btn-primary btn-sm" title="Editer cette vue"><i class="fa fa-pencil"></i> Modifier</button></a>
                                    <a href="#"><button type="button" class="btn btn-primary btn-sm" title="Exporter les résultats en CSV"><i class="fa fa-sign-out"></i> Exporter</button></a>
                                    <a href="#"><button type="button" class="btn btn-danger btn-sm" title="Supprimer cette vue"><i class="fa fa-trash-o"></i> Supprimer</button></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row features" style="margin-top: 20px">
            <div class="col-md-offset-1 col-md-10">
                <div class="well well-lg" style="font-style: italic; background-color: lightgoldenrodyellow">La page d'accueil de la création de vues reprend une liste de vues préconfigurées que l'on peut éditer, exporter ou supprimer.
                    C'est ici que viendront s'ajouter les vues créées.</br>
                    En cliquant sur "Créer une vue", on arrive sur la page de sélection des filtres.</br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet"
          type="text/css"
    />

{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"
    >
    </script>
    <script type="text/javascript"
            src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    >
    </script>
    
{% endblock %}