{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Edition d'une vue{% endblock %}

{% block panelRest %}

<div class="panel-body">
    <div id="conteneur" class="container-fluid">
        <div class="row">
            <main class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <article>
                    <p>Nom de la vue: <input type="text" placeholder=" Nom de la vue"></p>
                    <div class="form">
                        <label for="sel1">Filtres :</label>
                        <select class="form-control" id="sel1">
                            <option>Utilisateurs</option>
                            <option>Espaces d'activités</option>
                            <option>Ressources</option>
                            <option>Période</option>
                            <option>Forums</option>
                            <option>Exercices</option>
                            <option>Parcours</option>
                            <option>Activités</option>
                            <option>Collecticiels</option>
                            <option>Pages wikis</option>
                            <option>Blogs</option>
                            <option>Annonces</option>
                            <option>Sondages</option>
                            <option>Wikis</option>
                            <option>Chats</option>
                            <option>etc...</option>
                        </select>
                    </div>
                </article>
            </main>
            <aside class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            </aside>
        </div>
    </div>
</div>
<!--
<div class="panel-footer" style="text-align: left">
    <button type="button" class="btn btn-primary" title="Ajouter un filtre"><i class="fa fa-plus"> Ajouter un filtre</i></button>
</div>
-->
<div class="container">
    <div class="row features" style="margin-top: 20px">
        <div class="col-md-offset-1 col-md-10">
            <div class="well well-lg" style="font-style: italic; background-color: lightgoldenrodyellow">L'utilisateur peut choisir un nom pour la vue qu'il crée.</br>
                L'utilisateur fait un choix dans un premier filtre.</br>
                Dans notre exemple, on imagine que l'utilisateur a choisi "Utilisateurs" comme filtre général.</br>
                Apparaît immédiatement après (voir page suivante) un menu déroulant avec les critères.</br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.csss"
      rel="stylesheet"
/>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"
>
</script>
<script type="text/javascript"
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
>
</script>

{% endblock %}