{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Sélection de filtres{% endblock %}

{% block panelRest %}

<div class="panel-body">
    <div class="container-fluid">
        <div class="row features">
            <div class="col-xs-12">
                <p>Nom de la vue: <input type="text" placeholder=" Nom de la vue"></p>
            </div>
            <div class="col-xs-2">
                <div class="form">
                    <label for="sel1">Filtre général:</label>
                    <select class="form-control" id="sel1">
                        <option selected>Utilisateurs</option>
                        <option>Ressources</option>
                        <option>Période</option>
                        <option>Variables</option>
                    </select>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="form">
                    <label for="sel2">Filtre utilisateurs:</label>
                    <select class="form-control" id="sel2">
                        <option selected>Tous les utilisateurs</option>
                        <option>Les utilisateurs de mes EA</option>
                        <option>Un groupe d'utilisateurs</option>
                        <option>Les utilisateurs d'un EA</option>
                        <option>Les utilisateurs d'une ressource</option>
                        <option>etc...</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <p><span class="pull-right">
            <button type="button" class="btn btn-primary">OK</button>
            <button type="button" class="btn btn-default">Annuler</button>
            </span></p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row features" style="margin-top: 20px">
        <div class="col-md-offset-1 col-md-10">
            <div class="well well-lg" style="font-style: italic">Un deuxième filtre apparaît automatiquement pour affiner le choix d'utilisateurs.</br>
                Par défaut, le choix porte sur l'ensemble des utilisateurs.
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.csss"
      rel="stylesheet"
/>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"
>
</script>
<script type="text/javascript"
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
>
</script>

{% endblock %}