{% extends 'HeVinciMockupBundle::library/claroline/tool.html.twig' %}

{% set toolName = "Ressources" %}
{% set toolSection = "Bureau" %}
{% set toolPage = ['Informations directions BW', 'Partage'] %}
{% set toolIcon = "arrow-up" %}

{% block panelRest %}
    <div class="panel-footer">
        {% block panelFooter %}{% endblock %}
    </div>
{% endblock %}