{% extends 'HeVinciMockupBundle::mockup/competency/frame-tool.html.twig' %}

{% block panelRest %}
    <div class="panel-body">
        <ul>
            <li><a href="#">Mathématiques</a></li>
            <li><a href="#">Biologie</a></li>
            <li><a href="#">Géographie</a></li>
            <li><a href="#">Palef</a></li>
            <li><a href="#">Cecr</a></li>
        </ul>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary">
            Créer un référentiel
        </button>
        <button class="btn btn-primary">
            Gérer les échelles
        </button>
    </div>
{% endblock %}