{% extends "HeVinciMockupBundle::mockup/competency/frame-no-frame.html.twig" %}

{% block modal %}
    {% embed "HeVinciMockupBundle::library/claroline/modal.html.twig" %}
        {% block title %}Créer un référentiel{% endblock %}
        {% block body %}
            <form action="#" method="POST">
                <div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 required" for="competence_form_name">
                            Nom
                        </label>
                        <div class="col-md-9">
                            <input type="text"
                                   value="Palef"
                                   required="required"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 required" for="competence_form_description">
                            Description
                        </label>
                        <div class="col-md-9">
                            <textarea required="required" class="form-control" rows="3"
                                >Référentiel de compétences portant sur la maîtrise de la langue française.
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 required" for="competence_form_score">
                            Échelle
                        </label>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option>Facile / Moyen / Difficile</option>
                                <option>Débutant / Expert</option>
                                <option>CECR</option>
                                <option selected>PALEF</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        {% endblock %}
    {% endembed %}
{% endblock %}