{% extends 'HeVinciMockupBundle::mockup/competency/frame-tool.html.twig' %}

{% block panelTitle %}Palef{% endblock %}

{% block panelRest %}
    <style>
        ul.framework li {
            list-style: none;
        }

        ul.framework li i:first-of-type {
            vertical-align: middle;
            font-size: 80%;
            color: rgba(0,0,0,0.70);
            cursor: pointer;
        }

        ul.framework li table {
            margin: 4px auto;
            font-size: inherit;
        }

        ul.framework li table td, ul.framework li table th {
            padding: 2px;
        }

        ul.framework li table th {
            font-weight: normal;
        }

        ul.framework li table td.center {
            text-align: center;
        }

        ul.framework li table td:first-of-type {
            color: rgba(0,0,0,0.70);
        }

        i.invisible {
            visibility: hidden;
        }
    </style>

    <div class="panel-body">
        <ul class="framework">
            <li class="dropdown">
                <i class="fa fa-minus-square-o"></i>
                <a href="#">
                    Palef
                    <span class="caret"></span>
                </a>
                <ul>
                    <li>
                        <i class="fa fa-minus-square-o"></i>
                        <a href="#">
                            Savoir lire
                            <span class="caret"></span>
                        </a>
                        <ul>
                            <li>
                                <i class="fa fa-minus-square-o"></i>
                                <a href="#">
                                    Comprendre l'organisation du texte
                                    <span class="caret"></span>
                                </a>
                                <ul>
                                    <li>
                                        <i class="fa fa-minus-square-o"></i>
                                        <a href="#">
                                            Reconnaître le genre du message
                                            <span class="caret"></span>
                                        </a>
                                        <ul>
                                            <li>
                                                <i class="fa fa-minus-square-o"></i>
                                                <a href="#">
                                                    Activer ses connaissances à propos des genres
                                                    <span class="caret"></span>
                                                </a>
                                                <ul>
                                                    <li>
                                                        <table class="table table-bordered table-condensed">
                                                            <tr>
                                                                <th>Niveau</th>
                                                                <th>Capacité</th>
                                                                <th>Activités liées</th>
                                                                <th>Nombre exigé</th>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">A1</td>
                                                                <td>
                                                                    <a href="#">
                                                                        Identifier parmi une série de textes celui qui correspond à un genre donné
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                </td>
                                                                <td class="center"><a href="#">2</a></td>
                                                                <td class="center">1</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">A2</td>
                                                                <td>
                                                                    <a href="#">
                                                                        Aparier des textes et identifier les points communs
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                </td>
                                                                <td class="center"><a href="#">5</a></td>
                                                                <td class="center">3</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">B1</td>
                                                                <td>
                                                                    <a href="#">
                                                                        Exclure un texte d'une série en fonction de sa non adéquation au genre défini
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                </td>
                                                                <td class="center"><a href="#">3</a></td>
                                                                <td class="center">2</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">B2</td>
                                                                <td>
                                                                    <a href="#">
                                                                        Choisir un genre de texte en fonction d'une situation de communication donnée
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                </td>
                                                                <td class="center"><a href="#">1</a></td>
                                                                <td class="center">1</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">C1</td>
                                                                <td>
                                                                    <a href="#">
                                                                        Assembler des extraits d'un texte en fonction d'un genre
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                </td>
                                                                <td class="center"><a href="#">5</a></td>
                                                                <td class="center">4</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">C2</td>
                                                                <td>
                                                                    <a href="#">
                                                                        Expliquer sa démarche d'identification d'un genre et son intérêt
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                </td>
                                                                <td class="center"><a href="#">3</a></td>
                                                                <td class="center">2</td>
                                                            </tr>
                                                        </table>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <i class="fa fa-minus-square-o"></i>
                                                <a href="#">
                                                    Confronter un texte à différents modèles de schémas
                                                    <span class="caret"></span>
                                                </a>
                                                <ul>
                                                    <li>
                                                        <table class="table table-bordered table-condensed">
                                                            <tr>
                                                                <th>Niveau</th>
                                                                <th>Capacité</th>
                                                                <th>Activités liées</th>
                                                                <th>Nombre exigé</th>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">A1</td>
                                                                <td>
                                                                    <a href="#">
                                                                        Associer un schéma à un genre donné
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                </td>
                                                                <td class="center"><a href="#">2</a></td>
                                                                <td class="center">2</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">A2</td>
                                                                <td>
                                                                    <a href="#">
                                                                        Classer des schémas génériques en fonction de critères hiérarchisants
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                </td>
                                                                <td class="center"><a href="#">2</a></td>
                                                                <td class="center">1</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">B1</td>
                                                                <td>
                                                                    <a href="#">
                                                                        Rédiger le schéma d'un texte dont le genre est défini
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                </td>
                                                                <td class="center"><a href="#">4</a></td>
                                                                <td class="center">3</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">B2</td>
                                                                <td>
                                                                    <a href="#">
                                                                        Expérimenter un schéma d'encodage d'un genre et identifier les lacunes
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                </td>
                                                                <td class="center"><a href="#">3</a></td>
                                                                <td class="center">3</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">C1</td>
                                                                <td>
                                                                    <a href="#">
                                                                        Réaliser le schéma d'un texte
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                </td>
                                                                <td class="center"><a href="#">2</a></td>
                                                                <td class="center">1</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="center">C2</td>
                                                                <td>
                                                                    <a href="#">
                                                                        Identifier les éléments communs à plusieurs textes pouvant faire l'objet d'une schématisation
                                                                        <span class="caret"></span>
                                                                    </a>
                                                                </td>
                                                                <td class="center"><a href="#">4</a></td>
                                                                <td class="center">4</td>
                                                            </tr>
                                                        </table>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <i class="fa fa-minus-square-o"></i>
                                        <a href="#">
                                            Relier entre elles les différentes informations
                                            <span class="caret"></span>
                                        </a>
                                        <ul>
                                            <li>
                                                <i class="fa fa-plus-square-o"></i>
                                                <a href="#">
                                                    Identifier la progression d'un texte
                                                    <span class="caret"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <i class="fa fa-plus-square-o"></i>
                                                <a href="#">
                                                    Identifier les consignes d'un texte injonctif
                                                    <span class="caret"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <i class="fa fa-plus-square-o"></i>
                                                <a href="#">
                                                    Identifier les arguments d'un texte
                                                    <span class="caret"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <i class="fa fa-plus-square-o"></i>
                                <a href="#">
                                    Percevoir la cohérence dans le texte
                                    <span class="caret"></span>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-plus-square-o"></i>
                                <a href="#">
                                    Distinguer les unités lexicales
                                    <span class="caret"></span>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-plus-square-o"></i>
                                <a href="#">
                                    Distinguer les unités grammaticales
                                    <span class="caret"></span>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-plus-square-o"></i>
                                <a href="#">
                                    Saisir la dimension non verbale
                                    <span class="caret"></span>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-plus-square-o"></i>
                                <a href="#">
                                    Maîtriser les situations de communication
                                    <span class="caret"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <i class="fa fa-plus-square-o"></i>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Savoir écrire
                            <span class="caret"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <button id="show-add-form" class="btn btn-primary" disabled>
            Changer d'échelle
        </button>
        <button id="show-add-form" class="btn btn-danger">
            Supprimer
        </button>
    </div>
{% endblock %}
