{% extends "HeVinciMockupBundle::mockup/competency/learn-obj-start.html.twig" %}

{% block modal %}
    {% embed "HeVinciMockupBundle::library/claroline/modal.html.twig" %}
        {% block title %}Créer un objectif d'apprentissage{% endblock %}
        {% block body %}
            <form action="#" method="POST">
                <div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 required" for="competence_form_name">
                            Nom
                        </label>
                        <div class="col-md-9">
                            <input type="text"
                                   id="competence_form_name" name="competence_form[name]"
                                   value="Améliorer ses compétences en lecture"
                                   required="required" class="form-control"
                                   autofocus
                                   onfocus="this.value = this.value;"
                                    />
                        </div>
                    </div>
                </div>
            </form>
        {% endblock %}
    {% endembed %}
{% endblock %}