{% extends 'ClarolineCoreBundle::mockup/users-list-tool.html.twig' %}

{% block panelTitle %}Gestion des sessions{% endblock %}

{% block panelRest %}

    <style type="text/css" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
           xmlns:background-color="http://www.w3.org/1999/xhtml">

        /* For possible modals on this page */

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color:white !important;
            text-align: center;
            font-size: 20px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }

        /* To give full width to tables */

        table.table.table-hover {
            width:100%;
        }

        /* To change the backgroud color of the top bar */

        .navbar-inverse {
            background-color: #5cb85c;
            border-color: #5cb85c;
        }
        .navbar.navbar-inverse.navbar-fixed-top {
            border-bottom: 2px solid #5cb85c;
        }
        #top_bar li:not(:last-child) > a, .top-bar li:not(:last-child) > a {
            color: white;
            border-right: 1px solid #5cb85c !important;
        }
        .panel-default > .panel-heading {
            color: #fff;
            background-color: #5cb85c;
            border-color: #ddd;
        }
    </style>


<div class="panel panel-default">
<div id="users-panel" class="panel panel-default ng-scope" ng-app="UsersManager">
<div class="panel panel-body ng-scope" ui-view="">
<ol class="breadcrumb ng-scope ng-isolate-scope" ncy-breadcrumb="">
<li class="ng-scope active" ng-switch="$last || !!step.abstract" ng-class="{active: $last}" ng-repeat="step in steps">
<span class="ng-binding ng-scope" ng-switch-when="true">Liste des utilisateurs</span>
</li>
</ol>
<div class="ng-scope" ui-view="users">
<div class="ng-scope">
<div>
<div class="btn-group">
<button class="btn btn-default dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button">
<i class="fa fa-cog"></i>
<span class="caret"></span>
</button>
<ul class="dropdown-menu">
<li>
<a class="ng-binding" ng-click="uc.clickDelete()" href="#"> Supprimer </a>
</li>
<li>
<a class="ng-binding" ng-click="uc.initPassword()" href="#"> Réinitialiser le mot de passe </a>
</li>
<li class="divider" role="separator"></li>
<li>
<a class="ng-binding" href="/admin/users/new"> Nouveau </a>
</li>
<li>
<a class="ng-binding" ng-click="uc.csvRemove()" href="#"> csv_delete </a>
</li>
<li>
<a class="ng-binding" href="/admin/users/import"> Importer </a>
</li>
<li>
<a class="ng-binding" ui-sref="users.groups.list" href="#/users/groups"> Gérer les groupes </a>
</li>
<li class="divider" role="separator"></li>
<li>
<a class="ng-binding" href="/admin/users/import/profile/pics/form">Importer des photos d'utilisateurs</a>
</li>
<li>
<a class="ng-binding" href="/admin/users/workspace/personal/tool/config">Gestion des outils de l'espace personnel</a>
</li>
<li>
<a class="ng-binding" href="/admin/users/workspace/personal/resources/config">Gestion des ressources de l'espace personnel</a>
</li>
<li>
<a class="ng-binding" href="/admin/facet/index"> Gestion du profil </a>
</li>
<li class="divider" role="separator"></li>
<li>
<a class="ng-binding" href="/api/users/page/0/limit/9999/search.xls"> Export excel </a>
</li>
<li>
<a class="ng-binding" href="/api/users/page/0/limit/9999/search.csv"> Export csv </a>
</li>
</ul>
</div>
</div>
<div class="action-bar" align="center">
<div class="panel-body">
<clarolinesearch class="ng-isolate-scope" fields="uc.fields" on-search="uc._onSearch">
<div>
<div class="input-group">
<div class="ui-select-container ui-select-multiple ui-select-bootstrap dropdown form-control ng-valid" ng-class="{open: $select.open}" on-remove="cs.onRemove($item, $model, $select)" tagging="" reset-search-input="true" on-select="cs.onSelect($item, $model, $select)" ng-change="cs.updateOptions" ng-model="cs.searches">
<div>
<span class="ui-select-match"></span>
<input class="ui-select-search input-xs ng-pristine ng-untouched ng-valid" type="text" ondrop="return false;" aria-label="Select box" role="combobox" ng-model="$select.search" ng-click="$select.activate()" ng-hide="$select.disabled" ng-disabled="$select.disabled" placeholder="" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="false" style="width: 1722px;">
</div>
<ul class="ui-select-choices ui-select-choices-content ui-select-dropdown dropdown-menu ng-scope ng-hide" ng-show="$select.items.length > 0" role="listbox" refresh-delay="0" refresh="cs.refreshOptions($select)" repeat="dataitem in (cs.options)">
<li id="ui-select-choices-0" class="ui-select-choices-group">
<div class="divider ng-hide" ng-show="$select.isGrouped && $index > 0"></div>
<div class="ui-select-choices-group-label dropdown-header ng-binding ng-hide" ng-bind="$group.name" ng-show="$select.isGrouped"></div>
</li>
</ul>
<ui-select-multiple></ui-select-multiple>
</div>
<div id="search-el"></div>
<span class="input-group-btn">
</div>
</div>
</clarolinesearch>
</div>
</div>
<div>
<div class="material dt ng-scope dt-loaded selectable checkboxable" data-column-id="5763056b598cc89928708bfd" ng-class="dt.tableCss()" selected="selected" on-page="uc.paging(offset, size)" rows="uc.users" options="uc.dataTableOptions">
<div class="panel panel-body" ng-class="{'panel': true, 'panel-body': true}">
<div ng-class="row">
<div class="col-md-2">
<select class="form-control col-md-2 ng-pristine ng-untouched ng-valid ng-scope" ng-options="value * 1 as value for (key, value) in sizeSelector.options.sizes" ng-init="sizeSelector.options.paging.size" ng-model="sizeSelector.options.paging.size" ng-change="sizeSelector.onChange()" on-page="dt.onSizePage(offset, size)" options="dt.options" ng-if="dt.options.sizes">
<option label="10" value="number:10">10</option>
<option label="20" value="number:20">20</option>
<option label="50" value="number:50">50</option>
<option label="100" value="number:100">100</option>
</select>
</div>
<div class="col-md-6">
<div class="col-md-8 dropdown ng-scope" options="dt.options" ng-if="dt.options.availableColumns">
<button id="dropdown-column" class="btn btn-default dropdown-toggle" aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" type="button">
<span class="caret"></span>
</button>
<ul class="dropdown-menu" style="z-index:25;" aria-labelledby="column">
<li class="ng-scope" ng-repeat="column in columnSelector.options.availableColumns">
<label class="dt-checkbox ng-binding">
<input type="checkbox" ng-checked="columnSelector.isChecked(column)" ng-click="columnSelector.onClick(column)" checked="checked">
Prénom
</label>
</li>
<li class="ng-scope" ng-repeat="column in columnSelector.options.availableColumns">
<label class="dt-checkbox ng-binding">
<input type="checkbox" ng-checked="columnSelector.isChecked(column)" ng-click="columnSelector.onClick(column)" checked="checked">
Nom
</label>
</li>
<li class="ng-scope" ng-repeat="column in columnSelector.options.availableColumns">
<label class="dt-checkbox ng-binding">
<input type="checkbox" ng-checked="columnSelector.isChecked(column)" ng-click="columnSelector.onClick(column)" checked="checked">
Courriel
</label>
</li>
<li class="ng-scope" ng-repeat="column in columnSelector.options.availableColumns">
<label class="dt-checkbox ng-binding">
<input type="checkbox" ng-checked="columnSelector.isChecked(column)" ng-click="columnSelector.onClick(column)" checked="checked">
Actions
</label>
</li>
</ul>
</div>
</div>
</div>
<div class="dt-header ng-scope" ng-style="header.styles()" on-sort="dt.onSorted()" on-header-checkbox-changed="dt.onHeaderCheckboxChanged(isChecked)" selected="selected" on-resize="dt.onResize(column, width)" ng-if="dt.options.headerHeight" column-widths="dt.columnWidths" columns="dt.columnsByPin" on-checkbox-change="dt.onHeaderCheckboxChange()" options="dt.options" style="width: 1802px; height: 50px;">
<div class="dt-header-inner" ng-style="header.innerStyles()" style="width: 1790px;">
<div class="dt-row-center ng-isolate-scope" on-sortable-sort="columnsResorted(event, columnId)" ng-style="header.stylesByGroup('center')" sortable="header.options.reorderable" style="width: 1790px; transform: translate3d(0px, 0px, 0px); backface-visibility: hidden;">
<div class="dt-header-cell ng-scope sortable resizable" title="Identifiant" ng-style="hcell.styles()" data-id="576305de30ade2c10b317f48" draggable="true" ng-class="hcell.cellClass()" column="column" options="header.options" on-resize="header.onResized(column, width)" selected="selected" sort-type="header.options.sortType" on-sort="header.onSorted(column)" on-checkbox-change="header.onCheckboxChanged()" ng-repeat="column in header.columns['center'] track by column.$id" style="width: 358px; min-width: 100px;">
<div class="ng-isolate-scope resizable" max-width="hcell.column.maxWidth" min-width="hcell.column.minWidth" on-resize="hcell.onResized(width, hcell.column)" resizable="hcell.column.resizable">
<label class="dt-checkbox ng-scope" ng-if="hcell.column.isCheckboxColumn && hcell.column.headerCheckbox">
<input type="checkbox" ng-click="hcell.onCheckboxChange()" ng-checked="hcell.selected">
</label>
<span class="dt-header-cell-label" ng-click="hcell.onSorted()">Identifiant</span>
<span class="sort-btn" ng-class="hcell.sortClass()"></span>
<span class="dt-resize-handle" title="Resize"></span>
</div>
</div>
<div class="dt-header-cell ng-scope sortable resizable" title="Prénom" ng-style="hcell.styles()" data-id="576305de522ea1bcaab2685e" draggable="true" ng-class="hcell.cellClass()" column="column" options="header.options" on-resize="header.onResized(column, width)" selected="selected" sort-type="header.options.sortType" on-sort="header.onSorted(column)" on-checkbox-change="header.onCheckboxChanged()" ng-repeat="column in header.columns['center'] track by column.$id" style="width: 358px; min-width: 100px;">
<div class="ng-isolate-scope resizable" max-width="hcell.column.maxWidth" min-width="hcell.column.minWidth" on-resize="hcell.onResized(width, hcell.column)" resizable="hcell.column.resizable">
<span class="dt-header-cell-label" ng-click="hcell.onSorted()">Prénom</span>
<span class="sort-btn" ng-class="hcell.sortClass()"></span>
<span class="dt-resize-handle" title="Resize"></span>
</div>
</div>
<div class="dt-header-cell ng-scope sortable resizable" title="Nom" ng-style="hcell.styles()" data-id="576305ded538808a2de670c0" draggable="true" ng-class="hcell.cellClass()" column="column" options="header.options" on-resize="header.onResized(column, width)" selected="selected" sort-type="header.options.sortType" on-sort="header.onSorted(column)" on-checkbox-change="header.onCheckboxChanged()" ng-repeat="column in header.columns['center'] track by column.$id" style="width: 358px; min-width: 100px;">
<div class="ng-isolate-scope resizable" max-width="hcell.column.maxWidth" min-width="hcell.column.minWidth" on-resize="hcell.onResized(width, hcell.column)" resizable="hcell.column.resizable">
<span class="dt-header-cell-label" ng-click="hcell.onSorted()">Nom</span>
<span class="sort-btn" ng-class="hcell.sortClass()"></span>
<span class="dt-resize-handle" title="Resize"></span>
</div>
</div>
<div class="dt-header-cell ng-scope sortable resizable" title="Courriel" ng-style="hcell.styles()" data-id="576305de9580dfcc45bbe0d3" draggable="true" ng-class="hcell.cellClass()" column="column" options="header.options" on-resize="header.onResized(column, width)" selected="selected" sort-type="header.options.sortType" on-sort="header.onSorted(column)" on-checkbox-change="header.onCheckboxChanged()" ng-repeat="column in header.columns['center'] track by column.$id" style="width: 358px; min-width: 100px;">
<div class="ng-isolate-scope resizable" max-width="hcell.column.maxWidth" min-width="hcell.column.minWidth" on-resize="hcell.onResized(width, hcell.column)" resizable="hcell.column.resizable">
<span class="dt-header-cell-label" ng-click="hcell.onSorted()">Courriel</span>
<span class="sort-btn" ng-class="hcell.sortClass()"></span>
<span class="dt-resize-handle" title="Resize"></span>
</div>
</div>
<div class="dt-header-cell ng-scope sortable resizable" title="Actions" ng-style="hcell.styles()" data-id="576305de4e49ccfc6ec63003" draggable="true" ng-class="hcell.cellClass()" column="column" options="header.options" on-resize="header.onResized(column, width)" selected="selected" sort-type="header.options.sortType" on-sort="header.onSorted(column)" on-checkbox-change="header.onCheckboxChanged()" ng-repeat="column in header.columns['center'] track by column.$id" style="width: 358px; min-width: 100px;">
<div class="ng-isolate-scope resizable" max-width="hcell.column.maxWidth" min-width="hcell.column.minWidth" on-resize="hcell.onResized(width, hcell.column)" resizable="hcell.column.resizable">
<span class="dt-header-cell-label" ng-click="hcell.onSorted()">Actions</span>
<span class="sort-btn" ng-class="hcell.sortClass()"></span>
<span class="dt-resize-handle" title="Resize"></span>
</div>
</div>
</div>
</div>
</div>
<dt-body class="ng-scope" on-unselect="dt.onUnselected(rows)" on-tree-toggle="dt.onTreeToggled(row, cell)" on-page="dt.onBodyPage(offset, size)" options="dt.options" column-widths="dt.columnWidths" on-row-dbl-click="dt.onRowDblClicked(row)" on-row-click="dt.onRowClicked(row)" on-select="dt.onSelected(rows)" columns="dt.columnsByPin" expanded="dt.expanded" selected="dt.selected" on-rows-change="dt.onRowsChange()" rows="dt.rows">
<div class="progress-linear ng-hide" ng-show="body.options.paging.loadingIndicator" role="progressbar">
<div class="container">
<div class="bar"></div>
</div>
</div>
<div class="dt-body" dt-seletion="" ng-style="body.styles()" style="width: 1802px; overflow-y: hidden;">
<div class="dt-body-scroller" ng-transclude="" ng-style="scrollerStyles()">
<div class="dt-row ng-scope dt-row-odd" ng-style="body.rowStyles(r)" expanded="body.getRowExpanded(r)" has-children="body.getRowHasChildren(r)" on-checkbox-change="selCtrl.onCheckboxChange($event, $index, row)" selected="selected" options="body.options" ng-class="body.rowClasses(r)" on-tree-toggle="body.onTreeToggled(row, cell)" ng-dblclick="selCtrl.rowDblClicked($event, r.$$index, r)" ng-click="selCtrl.rowClicked($event, r.$$index, r)" ng-keydown="selCtrl.keyDown($event, $index, r)" column-widths="body.columnWidths" columns="body.columns" tabindex="0" row="body.getRowValue($index)" ng-if="!r.group" ng-repeat-end="" style="backface-visibility: hidden;">
<div class="dt-row-center dt-row-block" ng-style="rowCtrl.stylesByGroup('center')" style="width: 1790px;">
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Identifiant" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<label class="dt-checkbox ng-scope" ng-if="cell.column.isCheckboxColumn">
<input type="checkbox" ng-click="cell.onCheckboxChanged($event)" ng-checked="cell.selected">
</label>
<span class="dt-cell-content">clacoAdmin</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Prénom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Admin</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Nom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Claroline</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Courriel" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">clacoAdmin@claro.net</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Actions" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">
<div class="ng-scope">
<a class="btn btn-default" role="button" data-original-title="Se connecter en tant que" title="" data-placement="bottom" data-toggle="tooltip" href="/desktop/open?_switch=clacoAdmin">
<i class="fa fa-eye"></i>
</a>
<a class="btn btn-default" href="/admin/users/1/admin/action/1">
<i class="fa fa-pencil"></i>
</a>
<a class="btn btn-default" href="/admin/users/1/admin/action/2">
<i class="fa fa-book"></i>
</a>
</div>
</span>
</div>
</div>
</div>
<div class="dt-row ng-scope dt-row-odd" ng-style="body.rowStyles(r)" expanded="body.getRowExpanded(r)" has-children="body.getRowHasChildren(r)" on-checkbox-change="selCtrl.onCheckboxChange($event, $index, row)" selected="selected" options="body.options" ng-class="body.rowClasses(r)" on-tree-toggle="body.onTreeToggled(row, cell)" ng-dblclick="selCtrl.rowDblClicked($event, r.$$index, r)" ng-click="selCtrl.rowClicked($event, r.$$index, r)" ng-keydown="selCtrl.keyDown($event, $index, r)" column-widths="body.columnWidths" columns="body.columns" tabindex="1" row="body.getRowValue($index)" ng-if="!r.group" ng-repeat-end="" style="backface-visibility: hidden;">
<div class="dt-row-center dt-row-block" ng-style="rowCtrl.stylesByGroup('center')" style="width: 1790px;">
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Identifiant" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<label class="dt-checkbox ng-scope" ng-if="cell.column.isCheckboxColumn">
<input type="checkbox" ng-click="cell.onCheckboxChanged($event)" ng-checked="cell.selected">
</label>
<span class="dt-cell-content">flavia</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Prénom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Flavia</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Nom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Hinmel</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Courriel" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">flaviahinmel@gmail.com</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Actions" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">
<div class="ng-scope">
<a class="btn btn-default" role="button" data-original-title="Se connecter en tant que" title="" data-placement="bottom" data-toggle="tooltip" href="/desktop/open?_switch=flavia">
<i class="fa fa-eye"></i>
</a>
<a class="btn btn-default" href="/admin/users/2/admin/action/1">
<i class="fa fa-pencil"></i>
</a>
<a class="btn btn-default" href="/admin/users/2/admin/action/2">
<i class="fa fa-book"></i>
</a>
</div>
</span>
</div>
</div>
</div>
<div class="dt-row ng-scope dt-row-odd" ng-style="body.rowStyles(r)" expanded="body.getRowExpanded(r)" has-children="body.getRowHasChildren(r)" on-checkbox-change="selCtrl.onCheckboxChange($event, $index, row)" selected="selected" options="body.options" ng-class="body.rowClasses(r)" on-tree-toggle="body.onTreeToggled(row, cell)" ng-dblclick="selCtrl.rowDblClicked($event, r.$$index, r)" ng-click="selCtrl.rowClicked($event, r.$$index, r)" ng-keydown="selCtrl.keyDown($event, $index, r)" column-widths="body.columnWidths" columns="body.columns" tabindex="2" row="body.getRowValue($index)" ng-if="!r.group" ng-repeat-end="" style="backface-visibility: hidden;">
<div class="dt-row-center dt-row-block" ng-style="rowCtrl.stylesByGroup('center')" style="width: 1790px;">
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Identifiant" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<label class="dt-checkbox ng-scope" ng-if="cell.column.isCheckboxColumn">
<input type="checkbox" ng-click="cell.onCheckboxChanged($event)" ng-checked="cell.selected">
</label>
<span class="dt-cell-content">flaviaadmin</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Prénom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">flaviaadmin</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Nom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">flaviaadmin</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Courriel" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">flaviaadmin@claro.net</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Actions" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">
<div class="ng-scope">
<a class="btn btn-default" role="button" data-original-title="Se connecter en tant que" title="" data-placement="bottom" data-toggle="tooltip" href="/desktop/open?_switch=flaviaadmin">
<i class="fa fa-eye"></i>
</a>
<a class="btn btn-default" href="/admin/users/3/admin/action/1">
<i class="fa fa-pencil"></i>
</a>
<a class="btn btn-default" href="/admin/users/3/admin/action/2">
<i class="fa fa-book"></i>
</a>
</div>
</span>
</div>
</div>
</div>
<div class="dt-row ng-scope dt-row-odd" ng-style="body.rowStyles(r)" expanded="body.getRowExpanded(r)" has-children="body.getRowHasChildren(r)" on-checkbox-change="selCtrl.onCheckboxChange($event, $index, row)" selected="selected" options="body.options" ng-class="body.rowClasses(r)" on-tree-toggle="body.onTreeToggled(row, cell)" ng-dblclick="selCtrl.rowDblClicked($event, r.$$index, r)" ng-click="selCtrl.rowClicked($event, r.$$index, r)" ng-keydown="selCtrl.keyDown($event, $index, r)" column-widths="body.columnWidths" columns="body.columns" tabindex="3" row="body.getRowValue($index)" ng-if="!r.group" ng-repeat-end="" style="backface-visibility: hidden;">
<div class="dt-row-center dt-row-block" ng-style="rowCtrl.stylesByGroup('center')" style="width: 1790px;">
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Identifiant" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<label class="dt-checkbox ng-scope" ng-if="cell.column.isCheckboxColumn">
<input type="checkbox" ng-click="cell.onCheckboxChanged($event)" ng-checked="cell.selected">
</label>
<span class="dt-cell-content">root</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Prénom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">root</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Nom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">root</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Courriel" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">root@claro.net</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Actions" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">
<div class="ng-scope">
<a class="btn btn-default" role="button" data-original-title="Se connecter en tant que" title="" data-placement="bottom" data-toggle="tooltip" href="/desktop/open?_switch=root">
<i class="fa fa-eye"></i>
</a>
<a class="btn btn-default" href="/admin/users/5/admin/action/1">
<i class="fa fa-pencil"></i>
</a>
<a class="btn btn-default" href="/admin/users/5/admin/action/2">
<i class="fa fa-book"></i>
</a>
</div>
</span>
</div>
</div>
</div>
<div class="dt-row ng-scope dt-row-odd" ng-style="body.rowStyles(r)" expanded="body.getRowExpanded(r)" has-children="body.getRowHasChildren(r)" on-checkbox-change="selCtrl.onCheckboxChange($event, $index, row)" selected="selected" options="body.options" ng-class="body.rowClasses(r)" on-tree-toggle="body.onTreeToggled(row, cell)" ng-dblclick="selCtrl.rowDblClicked($event, r.$$index, r)" ng-click="selCtrl.rowClicked($event, r.$$index, r)" ng-keydown="selCtrl.keyDown($event, $index, r)" column-widths="body.columnWidths" columns="body.columns" tabindex="4" row="body.getRowValue($index)" ng-if="!r.group" ng-repeat-end="" style="backface-visibility: hidden;">
<div class="dt-row-center dt-row-block" ng-style="rowCtrl.stylesByGroup('center')" style="width: 1790px;">
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Identifiant" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<label class="dt-checkbox ng-scope" ng-if="cell.column.isCheckboxColumn">
<input type="checkbox" ng-click="cell.onCheckboxChanged($event)" ng-checked="cell.selected">
</label>
<span class="dt-cell-content">emurai</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Prénom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Elsa</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Nom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Murai</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Courriel" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">elsamurai@esm.com</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Actions" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">
<div class="ng-scope">
<a class="btn btn-default" role="button" data-original-title="Se connecter en tant que" title="" data-placement="bottom" data-toggle="tooltip" href="/desktop/open?_switch=emurai">
<i class="fa fa-eye"></i>
</a>
<a class="btn btn-default" href="/admin/users/6/admin/action/1">
<i class="fa fa-pencil"></i>
</a>
<a class="btn btn-default" href="/admin/users/6/admin/action/2">
<i class="fa fa-book"></i>
</a>
</div>
</span>
</div>
</div>
</div>
<div class="dt-row ng-scope dt-row-odd" ng-style="body.rowStyles(r)" expanded="body.getRowExpanded(r)" has-children="body.getRowHasChildren(r)" on-checkbox-change="selCtrl.onCheckboxChange($event, $index, row)" selected="selected" options="body.options" ng-class="body.rowClasses(r)" on-tree-toggle="body.onTreeToggled(row, cell)" ng-dblclick="selCtrl.rowDblClicked($event, r.$$index, r)" ng-click="selCtrl.rowClicked($event, r.$$index, r)" ng-keydown="selCtrl.keyDown($event, $index, r)" column-widths="body.columnWidths" columns="body.columns" tabindex="5" row="body.getRowValue($index)" ng-if="!r.group" ng-repeat-end="" style="backface-visibility: hidden;">
<div class="dt-row-center dt-row-block" ng-style="rowCtrl.stylesByGroup('center')" style="width: 1790px;">
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Identifiant" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<label class="dt-checkbox ng-scope" ng-if="cell.column.isCheckboxColumn">
<input type="checkbox" ng-click="cell.onCheckboxChanged($event)" ng-checked="cell.selected">
</label>
<span class="dt-cell-content">mcochard</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Prénom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Marie</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Nom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Cochard</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Courriel" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">m.cochard@ameri-cf.fr</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Actions" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">
<div class="ng-scope">
<a class="btn btn-default" role="button" data-original-title="Se connecter en tant que" title="" data-placement="bottom" data-toggle="tooltip" href="/desktop/open?_switch=mcochard">
<i class="fa fa-eye"></i>
</a>
<a class="btn btn-default" href="/admin/users/7/admin/action/1">
<i class="fa fa-pencil"></i>
</a>
<a class="btn btn-default" href="/admin/users/7/admin/action/2">
<i class="fa fa-book"></i>
</a>
</div>
</span>
</div>
</div>
</div>
<div class="dt-row ng-scope dt-row-odd" ng-style="body.rowStyles(r)" expanded="body.getRowExpanded(r)" has-children="body.getRowHasChildren(r)" on-checkbox-change="selCtrl.onCheckboxChange($event, $index, row)" selected="selected" options="body.options" ng-class="body.rowClasses(r)" on-tree-toggle="body.onTreeToggled(row, cell)" ng-dblclick="selCtrl.rowDblClicked($event, r.$$index, r)" ng-click="selCtrl.rowClicked($event, r.$$index, r)" ng-keydown="selCtrl.keyDown($event, $index, r)" column-widths="body.columnWidths" columns="body.columns" tabindex="6" row="body.getRowValue($index)" ng-if="!r.group" ng-repeat-end="" style="backface-visibility: hidden;">
<div class="dt-row-center dt-row-block" ng-style="rowCtrl.stylesByGroup('center')" style="width: 1790px;">
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Identifiant" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<label class="dt-checkbox ng-scope" ng-if="cell.column.isCheckboxColumn">
<input type="checkbox" ng-click="cell.onCheckboxChanged($event)" ng-checked="cell.selected">
</label>
<span class="dt-cell-content">gcochard</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Prénom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Gary</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Nom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Cochard</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Courriel" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">gary.cochard@coherans.com</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Actions" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">
<div class="ng-scope">
<a class="btn btn-default" role="button" data-original-title="Se connecter en tant que" title="" data-placement="bottom" data-toggle="tooltip" href="/desktop/open?_switch=gcochard">
<i class="fa fa-eye"></i>
</a>
<a class="btn btn-default" href="/admin/users/8/admin/action/1">
<i class="fa fa-pencil"></i>
</a>
<a class="btn btn-default" href="/admin/users/8/admin/action/2">
<i class="fa fa-book"></i>
</a>
</div>
</span>
</div>
</div>
</div>
<div class="dt-row ng-scope dt-row-odd" ng-style="body.rowStyles(r)" expanded="body.getRowExpanded(r)" has-children="body.getRowHasChildren(r)" on-checkbox-change="selCtrl.onCheckboxChange($event, $index, row)" selected="selected" options="body.options" ng-class="body.rowClasses(r)" on-tree-toggle="body.onTreeToggled(row, cell)" ng-dblclick="selCtrl.rowDblClicked($event, r.$$index, r)" ng-click="selCtrl.rowClicked($event, r.$$index, r)" ng-keydown="selCtrl.keyDown($event, $index, r)" column-widths="body.columnWidths" columns="body.columns" tabindex="7" row="body.getRowValue($index)" ng-if="!r.group" ng-repeat-end="" style="backface-visibility: hidden;">
<div class="dt-row-center dt-row-block" ng-style="rowCtrl.stylesByGroup('center')" style="width: 1790px;">
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Identifiant" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<label class="dt-checkbox ng-scope" ng-if="cell.column.isCheckboxColumn">
<input type="checkbox" ng-click="cell.onCheckboxChanged($event)" ng-checked="cell.selected">
</label>
<span class="dt-cell-content">geoadmin</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Prénom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Geoffroy</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Nom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Admin</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Courriel" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">geoffroycochard@gmail.com</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Actions" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">
<div class="ng-scope">
<a class="btn btn-default" role="button" data-original-title="Se connecter en tant que" title="" data-placement="bottom" data-toggle="tooltip" href="/desktop/open?_switch=geoadmin">
<i class="fa fa-eye"></i>
</a>
<a class="btn btn-default" href="/admin/users/9/admin/action/1">
<i class="fa fa-pencil"></i>
</a>
<a class="btn btn-default" href="/admin/users/9/admin/action/2">
<i class="fa fa-book"></i>
</a>
</div>
</span>
</div>
</div>
</div>
<div class="dt-row ng-scope dt-row-odd" ng-style="body.rowStyles(r)" expanded="body.getRowExpanded(r)" has-children="body.getRowHasChildren(r)" on-checkbox-change="selCtrl.onCheckboxChange($event, $index, row)" selected="selected" options="body.options" ng-class="body.rowClasses(r)" on-tree-toggle="body.onTreeToggled(row, cell)" ng-dblclick="selCtrl.rowDblClicked($event, r.$$index, r)" ng-click="selCtrl.rowClicked($event, r.$$index, r)" ng-keydown="selCtrl.keyDown($event, $index, r)" column-widths="body.columnWidths" columns="body.columns" tabindex="8" row="body.getRowValue($index)" ng-if="!r.group" ng-repeat-end="" style="backface-visibility: hidden;">
<div class="dt-row-center dt-row-block" ng-style="rowCtrl.stylesByGroup('center')" style="width: 1790px;">
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Identifiant" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<label class="dt-checkbox ng-scope" ng-if="cell.column.isCheckboxColumn">
<input type="checkbox" ng-click="cell.onCheckboxChanged($event)" ng-checked="cell.selected">
</label>
<span class="dt-cell-content">LaurentGruber</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Prénom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Laurent</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Nom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">Gruber</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Courriel" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">laurent.gruber@claroline.com</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Actions" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">
<div class="ng-scope">
<a class="btn btn-default" role="button" data-original-title="Se connecter en tant que" title="" data-placement="bottom" data-toggle="tooltip" href="/desktop/open?_switch=LaurentGruber">
<i class="fa fa-eye"></i>
</a>
<a class="btn btn-default" href="/admin/users/10/admin/action/1">
<i class="fa fa-pencil"></i>
</a>
<a class="btn btn-default" href="/admin/users/10/admin/action/2">
<i class="fa fa-book"></i>
</a>
</div>
</span>
</div>
</div>
</div>
<div class="dt-row ng-scope dt-row-odd" ng-style="body.rowStyles(r)" expanded="body.getRowExpanded(r)" has-children="body.getRowHasChildren(r)" on-checkbox-change="selCtrl.onCheckboxChange($event, $index, row)" selected="selected" options="body.options" ng-class="body.rowClasses(r)" on-tree-toggle="body.onTreeToggled(row, cell)" ng-dblclick="selCtrl.rowDblClicked($event, r.$$index, r)" ng-click="selCtrl.rowClicked($event, r.$$index, r)" ng-keydown="selCtrl.keyDown($event, $index, r)" column-widths="body.columnWidths" columns="body.columns" tabindex="9" row="body.getRowValue($index)" ng-if="!r.group" ng-repeat-end="" style="backface-visibility: hidden;">
<div class="dt-row-center dt-row-block" ng-style="rowCtrl.stylesByGroup('center')" style="width: 1790px;">
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Identifiant" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<label class="dt-checkbox ng-scope" ng-if="cell.column.isCheckboxColumn">
<input type="checkbox" ng-click="cell.onCheckboxChanged($event)" ng-checked="cell.selected">
</label>
<span class="dt-cell-content">stag1</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Prénom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">stagiaire</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Nom" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">1</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Courriel" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">stag1@claco.net</span>
</div>
<div class="dt-cell ng-scope" ng-class="cell.cellClass()" ng-style="cell.styles()" data-title="Actions" value="rowCtrl.getValue(column)" on-checkbox-change="rowCtrl.onCheckboxChanged($event)" row="rowCtrl.row" selected="selected" expanded="rowCtrl.expanded" has-children="rowCtrl.hasChildren" options="rowCtrl.options" column="column" on-tree-toggle="rowCtrl.onTreeToggled(cell)" ng-repeat="column in rowCtrl.columns['center'] track by column.$id" style="width: 358px;">
<span class="dt-cell-content">
<div class="ng-scope">
<a class="btn btn-default" role="button" data-original-title="Se connecter en tant que" title="" data-placement="bottom" data-toggle="tooltip" href="/desktop/open?_switch=stag1">
<i class="fa fa-eye"></i>
</a>
<a class="btn btn-default" href="/admin/users/11/admin/action/1">
<i class="fa fa-pencil"></i>
</a>
<a class="btn btn-default" href="/admin/users/11/admin/action/2">
<i class="fa fa-book"></i>
</a>
</div>
</span>
</div>
</div>
</div>
</div>
</div>
</dt-body>
<div class="dt-footer ng-scope" paging="dt.options.paging" on-page="dt.onFooterPage(offset, size)" ng-style="{ height: dt.options.footerHeight + 'px' }" ng-if="dt.options.footerHeight" style="height: 50px;">
<div class="page-count ng-binding">79 total</div>
<div class="dt-pager ng-scope" ng-show="footer.paging.count > 1" on-page="footer.onPaged(page)" count="footer.paging.count" size="footer.paging.size" page="footer.page">
<ul class="pager">
<li class="disabled" ng-class="{ disabled: !pager.canPrevious() }">
<a class="icon-prev" ng-click="pager.selectPage(1)" href=""></a>
</li>
<li class="disabled" ng-class="{ disabled: !pager.canPrevious() }">
<a class="icon-left" ng-click="pager.prevPage()" href=""></a>
</li>
<li class="ng-scope active" ng-class="{ active: pg.active }" ng-repeat="pg in pager.pages track by $index">
<a class="ng-binding" ng-click="pager.selectPage(pg.number)" href="">1</a>
</li>
<li class="ng-scope" ng-class="{ active: pg.active }" ng-repeat="pg in pager.pages track by $index">
<a class="ng-binding" ng-click="pager.selectPage(pg.number)" href="">2</a>
</li>
<li class="ng-scope" ng-class="{ active: pg.active }" ng-repeat="pg in pager.pages track by $index">
<a class="ng-binding" ng-click="pager.selectPage(pg.number)" href="">3</a>
</li>
<li class="ng-scope" ng-class="{ active: pg.active }" ng-repeat="pg in pager.pages track by $index">
<a class="ng-binding" ng-click="pager.selectPage(pg.number)" href="">4</a>
</li>
<li class="ng-scope" ng-class="{ active: pg.active }" ng-repeat="pg in pager.pages track by $index">
<a class="ng-binding" ng-click="pager.selectPage(pg.number)" href="">5</a>
</li>
<li class="" ng-class="{ disabled: !pager.canNext() }">
<a class="icon-right" ng-click="pager.nextPage()" href=""></a>
</li>
<li class="" ng-class="{ disabled: !pager.canNext() }">
<a class="icon-skip" ng-click="pager.selectPage(pager.totalPages)" href=""></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ng-scope" ui-view="groups"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="push"></div>
</div>
<div id="footer">
<script src="/bundles/clarolinecore/js/iframe/iframe.js" type="text/javascript">
<script src="/vendor/twitter/bootstrap/js/bootstrap.js" type="text/javascript">
<script src="/vendor/jms/twig-js/twig.js" type="text/javascript">
<script src="/js/39964d4.fr.js" type="text/javascript">
<script src="/vendor/jquery/ui/jqueryui.js" type="text/javascript">
<script src="/js/dd81a76.js">
<script src="/bundles/fosjsrouting/js/router.js" type="text/javascript">
<script src="/js/routing?callback=fos.Router.setData" type="text/javascript">
<script src="/packages/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" type="text/javascript">
<script src="/packages/bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js" type="text/javascript">
<script src="/packages/underscore/underscore.js" type="text/javascript">
<script src="/packages/backbone/backbone.js" type="text/javascript">
<script src="/vendor/claroline/js/libraries.js" type="text/javascript">
<script src="/bundles/stfalcontinymce/vendor/tinymce/tinymce.jquery.min.js" type="text/javascript">
<script src="/bundles/stfalcontinymce/vendor/tinymce/jquery.tinymce.min.js" type="text/javascript">
<script src="/bundles/clarolinecore/js/tinymce/tinymce.js" type="text/javascript">
<script src="/bundles/clarolinecore/js/tinymce/resource_picker_button.js" type="text/javascript">
<script src="/bundles/clarolinecore/js/tinymce/resource_picker.js" type="text/javascript">
<script src="/bundles/clarolinecore/js/tinymce/resource_upload_button.js" type="text/javascript">
<script type="text/javascript">
<script src="/packages/video.js/dist/video.min.js">
<script>
<script>
<link rel="stylesheet" href="/packages/video.js/dist/video-js.min.css">
<script src="/js/tinymce/plugins/formula/langs.js" type="text/javascript">
<script>
<script type="text/javascript">
<script type="text/javascript">
<script src="/dist/claroline-distribution-main-core-user-management-91ea797d432763b3235f.js">
</body>
</html>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
    </script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    </script>

{% endblock %}