{% extends 'ClarolineCoreBundle::mockup/users-list-tool.html.twig' %}

{% block panelTitle %}Gestion des sessions{% endblock %}

{% block panelRest %}

    <style type="text/css" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
           xmlns:background-color="http://www.w3.org/1999/xhtml">

        /* For possible modals on this page */

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color:white !important;
            text-align: center;
            font-size: 20px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }

        /* To give full width to tables */

        table.table.table-hover {
            width:100%;
        }

        /* To change the backgroud color of the top bar */

        .navbar-inverse {
            background-color: #5cb85c;
            border-color: #5cb85c;
        }
        .navbar.navbar-inverse.navbar-fixed-top {
            border-bottom: 2px solid #5cb85c;
        }
        #top_bar li:not(:last-child) > a, .top-bar li:not(:last-child) > a {
            color: white;
            border-right: 1px solid #5cb85c !important;
        }
        .panel-default > .panel-heading {
            color: #fff;
            background-color: #5cb85c;
            border-color: #ddd;
        }
    </style>

<div id="users-panel" class="panel panel-default ng-scope" ng-app="UsersManager">
    <div class="panel panel-body ng-scope" ui-view="">
        <ol class="breadcrumb ng-scope ng-isolate-scope" ncy-breadcrumb="">
            <li class="ng-scope active" ng-switch="$last || !!step.abstract" ng-class="{active: $last}" ng-repeat="step in steps">
                <span class="ng-binding ng-scope" ng-switch-when="true">Liste des sessions</span>
            </li>
        </ol>
        <div class="ng-scope" ui-view="users">
            <div class="ng-scope">
                <div>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button">
                            <i class="fa fa-cog"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="ng-binding" ng-click="uc.clickDelete()" href="#"> Supprimer </a>
                            </li>
                            <li class="divider" role="separator"></li>
                            <li>
                                <a class="ng-binding" href="#"> Nouvelle session </a>
                            </li>
                            <li>
                                <a class="ng-binding" ng-click="uc.csvRemove()" href="#"> csv_delete </a>
                            </li>
                            <li>
                                <a class="ng-binding" href="#"> Importer </a>
                            </li>
                            <li class="divider" role="separator"></li>
                            <li>
                                <a class="ng-binding" href="#"> Export excel </a>
                            </li>
                            <li>
                                <a class="ng-binding" href="#"> Export csv </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="action-bar" align="center">
                    <div class="panel-body">
                        <div>
                            <div class="input-group form-control">
                                    <span>
                                        <input type="text" placeholder="Rechercher une session" spellcheck="false" autocapitalize="off" autocorrect="off"
                                               autocomplete="false" style="width: 1710px;">
                                    </span>
                                    <ul class="ui-select-choices ui-select-choices-content ui-select-dropdown dropdown-menu ng-scope ng-hide" ng-show="$select.items.length > 0" role="listbox" refresh-delay="0" refresh="cs.refreshOptions($select)" repeat="dataitem in (cs.options)" style="opacity: 1;">
                                        <li id="ui-select-choices-0" class="ui-select-choices-group">
                                            <div class="divider ng-hide" ng-show="$select.isGrouped && $index > 0"></div>
                                            <div class="ui-select-choices-group-label dropdown-header ng-binding ng-hide" ng-bind="$group.name" ng-show="$select.isGrouped"></div>
                                        </li>
                                    </ul>
                                    {#<ui-select-multiple></ui-select-multiple>#}
                                <div id="search-el"></div>
                                    <span class="input-group-btn">
                                        <button id="search-button" class="filter btn btn-primary" ng-click="cs.search()" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="material dt ng-scope dt-loaded selectable checkboxable" data-column-id="5762d14e59bae1a6b7f323c1" ng-class="dt.tableCss()" selected="selected" on-page="uc.paging(offset, size)" rows="uc.users" options="uc.dataTableOptions">
                        <div class="panel panel-body" ng-class="{'panel': true, 'panel-body': true}">
                            <div ng-class="row">
                                <div class="col-md-2">
                                    <select class="form-control col-md-2 ng-pristine ng-untouched ng-valid ng-scope" ng-options="value * 1 as value for (key, value) in sizeSelector.options.sizes" ng-init="sizeSelector.options.paging.size" ng-model="sizeSelector.options.paging.size" ng-change="sizeSelector.onChange()" on-page="dt.onSizePage(offset, size)" options="dt.options" ng-if="dt.options.sizes">
                                        <option label="10" value="number:10">10</option>
                                        <option label="20" value="number:20">20</option>
                                        <option label="50" value="number:50">50</option>
                                        <option label="100" value="number:100">100</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-8 dropdown ng-scope" options="dt.options" ng-if="dt.options.availableColumns">
                                    <button id="dropdown-column" class="btn btn-default dropdown-toggle" aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" type="button">
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" style="z-index:25;" aria-labelledby="column">
                                    <li class="ng-scope" ng-repeat="column in columnSelector.options.availableColumns">
                                    <li class="ng-scope" ng-repeat="column in columnSelector.options.availableColumns">
                                    <li class="ng-scope" ng-repeat="column in columnSelector.options.availableColumns">
                                    <li class="ng-scope" ng-repeat="column in columnSelector.options.availableColumns">
                                    </ul>
                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
    </script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    </script>

{% endblock %}