{% extends 'ClarolineCoreBundle::mockup/Training_sessions/training_session_tool.html.twig' %}

{% block panelTitle %}

    [Formation] Configuration de la plateforme CC &nbsp;<a href="training-view-8.html" title="Modifier la formation"><i class="fa fa-pencil pointer-hand"></i></a>

{% endblock %}

{% block panelRest %}

    <style type="text/css" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
           xmlns:background-color="http://www.w3.org/1999/xhtml">

        /* For possible modals on this page */

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color:white !important;
            text-align: center;
            font-size: 20px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }

        /* To give full width to tables */

        table.table.table-hover {
            width:100%;
        }

        /* To change the backgroud color of the top bar */

        .navbar-inverse {
            background-color: #5cb85c;
            border-color: #5cb85c;
        }
        .navbar.navbar-inverse.navbar-fixed-top {
            border-bottom: 2px solid #5cb85c;
        }
        #top_bar li:not(:last-child) > a, .top-bar li:not(:last-child) > a {
            color: white;
            border-right: 1px solid #5cb85c !important;
        }
        .panel-default > .panel-heading {
            color: #fff;
            background-color: #5cb85c;
            border-color: #ddd;
        }
    </style>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container-fluid" id="accordion">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center" style="background-color: #337ab7">
                            <h3 class="panel-title">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse1" aria-expanded="false">Description de la formation</a>
                            </h3>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere.
                            Proficiscetur paludatus? Quo? Quo pervenire ante certam diem non licebit. ianuario, Februario, provinciam non habebit; Kalendis ei denique Martiis nascetur repente provincia
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="accordion">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #337ab7">
                            <h3 class="panel-title text-center">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2" aria-expanded="true">Sessions ouvertes</a>&nbsp;
                                <i title="Ajouter une session" class="fa fa-cube pointer-hand" data-toggle="modal" data-placement="top" data-target="#create-session"></i>
                            </h3>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <th style="background-color: #5bc0de">
                                        <a href="#" style="color: #fff"> Nom </a>
                                    </th>
                                    <th style="background-color: #5bc0de">
                                        <a href="#" style="color: #fff"> Date de début </a>
                                    </th>
                                    <th style="background-color: #5bc0de">
                                        <a href="#" style="color: #fff"> Date de fin </a>
                                    </th>
                                    <th style="background-color: #5bc0de" class="text-center">
                                        <a href="#" style="color: #fff"> Statut </a>
                                    </th>
                                    <th style="color: white; background-color: #5bc0de" class="text-center">
                                        Actions
                                    </th>
                                    <tr>
                                        <td>
                                            <a href="session_file.html" class="show-users-btn pointer-hand">Test Session</a>
                                        </td>
                                        <td>
                                            20/06/2016 08:20
                                        </td>
                                        <td>
                                            24/06/2016 16:10
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-adjust pointer-hand" data-toggle="tooltip" data-placement="top" title="En cours" style="color: #706c6c"></i>
                                        </td>
                                        <td class="text-center">
                                            <span data-placement="top" data-toggle="tooltip" title="Modifier la session" class="btn btn-primary">
                                                <i data-toggle="modal" class="fa fa-edit pointer-hand" data-target="#edit-session"></i>
                                            </span>
                                            <i class="btn btn-default fa fa-envelope-o session-send-confirmation-mail-btn" data-toggle="tooltip" data-placement="top" title="Envoyer un courriel à tous les apprenants de la session"></i>
                                            <i class="btn btn-default fa fa-graduation-cap" data-toggle="tooltip" data-placement="top" title="Générer les certifications"></i>
                                            <i class="btn btn-default fa fa-plus-square" data-toggle="tooltip" data-placement="top" title="Inviter des apprenants"></i>
                                            <i class="btn btn-default fa fa-book" data-toggle="tooltip" data-placement="top" title="Accéder à l'espace d'activités"></i>
                                            <span data-placement="top" data-toggle="tooltip" title="Inscrire des apprenants" class="btn btn-primary">
                                                <i data-toggle="modal" class="fa fa-sign-in pointer-hand" data-target="#subscribe-session"></i>
                                            </span>
                                            <span data-placement="top" data-toggle="tooltip" title="Désinscrire des apprenants" class="btn btn-primary">
                                                <i data-toggle="modal" class="fa fa-sign-out pointer-hand" data-target="#unsubscribe-session"></i>
                                            </span>
                                             <span data-placement="top" data-toggle="tooltip" title="Supprimer la session" class="btn btn-danger">
                                                <i data-toggle="modal" class="fa fa-trash-o pointer-hand" data-target="#delete-session-box"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="show-users-btn pointer-hand" data-session-id="70">Paramétrage du bureau</a>
                                            <i class="fa fa-star pointer-hand" data-toggle="tooltip" data-placement="top" aria-hidden="true" style="color: greenyellow" title="Session par défaut"></i>
                                        </td>
                                        <td>
                                            27/06/2016 08:20
                                        </td>
                                        <td>
                                            30/06/2016 15:20
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-circle-o pointer-hand" data-toggle="tooltip" data-placement="top" title="Non commencé" style="color: #706c6c"></i>
                                        </td>
                                        <td class="text-center">
                                            <span data-placement="top" data-toggle="tooltip" title="Modifier la session" class="btn btn-primary">
                                                <i data-toggle="modal" class="fa fa-edit pointer-hand" data-target="#edit-session"></i>
                                            </span>
                                            <i class="btn btn-default fa fa-envelope-o session-send-confirmation-mail-btn" data-toggle="tooltip" data-placement="top" title="Envoyer un courriel à tous les apprenants de la session"></i>
                                            <i class="btn btn-default fa fa-graduation-cap" data-toggle="tooltip" data-placement="top" title="Générer les certifications"></i>
                                            <i class="btn btn-default fa fa-plus-square" data-toggle="tooltip" data-placement="top" title="Inviter des apprenants"></i>
                                            <i class="btn btn-default fa fa-book" data-toggle="tooltip" data-placement="top" title="Accéder à l'espace d'activités"></i>
                                            <span data-placement="top" data-toggle="tooltip" title="Inscrire des apprenants" class="btn btn-primary">
                                                <i data-toggle="modal" class="fa fa-sign-in pointer-hand" data-target="#subscribe-session"></i>
                                            </span>
                                            <span data-placement="top" data-toggle="tooltip" title="Désinscrire des apprenants" class="btn btn-primary">
                                                <i data-toggle="modal" class="fa fa-sign-out pointer-hand" data-target="#unsubscribe-session"></i>
                                            </span>
                                             <span data-placement="top" data-toggle="tooltip" title="Supprimer la session" class="btn btn-danger">
                                                <i data-toggle="modal" class="fa fa-trash-o pointer-hand" data-target="#delete-session-box"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="show-users-btn pointer-hand" data-session-id="70">Gestion des utilisateurs</a>
                                        </td>
                                        <td>
                                            12/09/2016 08:20
                                        </td>
                                        <td>
                                            16/09/2016 12:50
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-circle-o pointer-hand" data-toggle="tooltip" data-placement="top" title="Non commencé" style="color: #706c6c"></i>
                                        </td>
                                        <td class="text-center">
                                            <span data-placement="top" data-toggle="tooltip" title="Modifier la session" class="btn btn-primary">
                                                <i data-toggle="modal" class="fa fa-edit pointer-hand" data-target="#edit-session"></i>
                                            </span>
                                            <i class="btn btn-default fa fa-envelope-o session-send-confirmation-mail-btn" data-toggle="tooltip" data-placement="top" title="Envoyer un courriel à tous les apprenants de la session"></i>
                                            <i class="btn btn-default fa fa-graduation-cap" data-toggle="tooltip" data-placement="top" title="Générer les certifications"></i>
                                            <i class="btn btn-default fa fa-plus-square" data-toggle="tooltip" data-placement="top" title="Inviter des apprenants"></i>
                                            <i class="btn btn-default fa fa-book" data-toggle="tooltip" data-placement="top" title="Accéder à l'espace d'activités"></i>
                                            <span data-placement="top" data-toggle="tooltip" title="Inscrire des apprenants" class="btn btn-primary">
                                                <i data-toggle="modal" class="fa fa-sign-in pointer-hand" data-target="#subscribe-session"></i>
                                            </span>
                                            <span data-placement="top" data-toggle="tooltip" title="Désinscrire des apprenants" class="btn btn-primary">
                                                <i data-toggle="modal" class="fa fa-sign-out pointer-hand" data-target="#unsubscribe-session"></i>
                                            </span>
                                             <span data-placement="top" data-toggle="tooltip" title="Supprimer la session" class="btn btn-danger">
                                                <i data-toggle="modal" class="fa fa-trash-o pointer-hand" data-target="#delete-session-box"></i>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="accordion">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #337ab7">
                            <h3 class="panel-title text-center">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse3" aria-expanded="true">Sessions terminées</a>&nbsp;
                                {#<i title="Ajouter une session" class="fa fa-cube pointer-hand" data-toggle="modal" data-placement="top" data-target="#create-session"></i>#}
                            </h3>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <th style="background-color: #5bc0de">
                                        <a href="#" style="color: #fff"> Nom </a>
                                    </th>
                                    <th style="background-color: #5bc0de">
                                        <a href="#" style="color: #fff"> Date de début </a>
                                    </th>
                                    <th style="background-color: #5bc0de">
                                        <a href="#" style="color: #fff"> Date de fin </a>
                                    </th>
                                    {#<th style="background-color: #5bc0de" class="text-center">#}
                                        {#<a href="#" style="color: #fff"> Statut </a>#}
                                    {#</th>#}
                                    <th style="color: white; background-color: #5bc0de" class="text-center">
                                        Actions
                                    </th>
                                    <tr>
                                        <td>
                                            <a href="session_file.html" class="show-users-btn pointer-hand">Insertion d'une image</a>
                                        </td>
                                        <td>
                                            20/06/2015 08:20
                                        </td>
                                        <td>
                                            24/06/2015 16:10
                                        </td>
                                        {#<td class="text-center">#}
                                            {#<i class="fa fa-adjust pointer-hand" data-toggle="tooltip" data-placement="top" title="En cours" style="color: #706c6c"></i>#}
                                        {#</td>#}
                                        <td class="text-center">
                                                    <span data-placement="top" data-toggle="tooltip" title="Modifier la session" class="btn btn-primary">
                                                        <i data-toggle="modal" class="fa fa-edit pointer-hand" data-target="#edit-session"></i>
                                                    </span>
                                            <i class="btn btn-default fa fa-envelope-o session-send-confirmation-mail-btn" data-toggle="tooltip" data-placement="top" title="Envoyer un courriel à tous les apprenants de la session"></i>
                                            <i class="btn btn-default fa fa-graduation-cap" data-toggle="tooltip" data-placement="top" title="Générer les certifications"></i>
                                            {#<i class="btn btn-default fa fa-plus-square" data-toggle="tooltip" data-placement="top" title="Inviter des apprenants"></i>#}
                                            <i class="btn btn-default fa fa-book" data-toggle="tooltip" data-placement="top" title="Accéder à l'espace d'activités"></i>
                                                    <span data-placement="top" data-toggle="tooltip" title="Inscrire des apprenants" class="btn btn-primary">
                                                        <i data-toggle="modal" class="fa fa-sign-in pointer-hand" data-target="#subscribe-session"></i>
                                                    </span>
                                                    <span data-placement="top" data-toggle="tooltip" title="Désinscrire des apprenants" class="btn btn-primary">
                                                        <i data-toggle="modal" class="fa fa-sign-out pointer-hand" data-target="#unsubscribe-session"></i>
                                                    </span>
                                                     <span data-placement="top" data-toggle="tooltip" title="Supprimer la session" class="btn btn-danger">
                                                        <i data-toggle="modal" class="fa fa-trash-o pointer-hand" data-target="#delete-session-box"></i>
                                                    </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="show-users-btn pointer-hand" data-session-id="70">Partager une ressource</a>
                                            {#<i class="fa fa-star pointer-hand" data-toggle="tooltip" data-placement="top" aria-hidden="true" style="color: greenyellow" title="Session par défaut"></i>#}
                                        </td>
                                        <td>
                                            27/06/2015 08:20
                                        </td>
                                        <td>
                                            30/06/2015 15:20
                                        </td>
                                        {#<td class="text-center">#}
                                            {#<i class="fa fa-circle-o pointer-hand" data-toggle="tooltip" data-placement="top" title="Non commencé" style="color: #706c6c"></i>#}
                                        {#</td>#}
                                        <td class="text-center">
                                                    <span data-placement="top" data-toggle="tooltip" title="Modifier la session" class="btn btn-primary">
                                                        <i data-toggle="modal" class="fa fa-edit pointer-hand" data-target="#edit-session"></i>
                                                    </span>
                                            <i class="btn btn-default fa fa-envelope-o session-send-confirmation-mail-btn" data-toggle="tooltip" data-placement="top" title="Envoyer un courriel à tous les apprenants de la session"></i>
                                            <i class="btn btn-default fa fa-graduation-cap" data-toggle="tooltip" data-placement="top" title="Générer les certifications"></i>
                                            {#<i class="btn btn-default fa fa-plus-square" data-toggle="tooltip" data-placement="top" title="Inviter des apprenants"></i>#}
                                            <i class="btn btn-default fa fa-book" data-toggle="tooltip" data-placement="top" title="Accéder à l'espace d'activités"></i>
                                                    <span data-placement="top" data-toggle="tooltip" title="Inscrire des apprenants" class="btn btn-primary">
                                                        <i data-toggle="modal" class="fa fa-sign-in pointer-hand" data-target="#subscribe-session"></i>
                                                    </span>
                                                    <span data-placement="top" data-toggle="tooltip" title="Désinscrire des apprenants" class="btn btn-primary">
                                                        <i data-toggle="modal" class="fa fa-sign-out pointer-hand" data-target="#unsubscribe-session"></i>
                                                    </span>
                                                     <span data-placement="top" data-toggle="tooltip" title="Supprimer la session" class="btn btn-danger">
                                                        <i data-toggle="modal" class="fa fa-trash-o pointer-hand" data-target="#delete-session-box"></i>
                                                    </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="show-users-btn pointer-hand" data-session-id="70">Créer un forum</a>
                                        </td>
                                        <td>
                                            12/05/2016 08:20
                                        </td>
                                        <td>
                                            16/05/2016 12:50
                                        </td>
                                        {#<td class="text-center">#}
                                            {#<i class="fa fa-circle-o pointer-hand" data-toggle="tooltip" data-placement="top" title="Non commencé" style="color: #706c6c"></i>#}
                                        {#</td>#}
                                        <td class="text-center">
                                                    <span data-placement="top" data-toggle="tooltip" title="Modifier la session" class="btn btn-primary">
                                                        <i data-toggle="modal" class="fa fa-edit pointer-hand" data-target="#edit-session"></i>
                                                    </span>
                                            <i class="btn btn-default fa fa-envelope-o session-send-confirmation-mail-btn" data-toggle="tooltip" data-placement="top" title="Envoyer un courriel à tous les apprenants de la session"></i>
                                            <i class="btn btn-default fa fa-graduation-cap" data-toggle="tooltip" data-placement="top" title="Générer les certifications"></i>
                                            {#<i class="btn btn-default fa fa-plus-square" data-toggle="tooltip" data-placement="top" title="Inviter des apprenants"></i>#}
                                            <i class="btn btn-default fa fa-book" data-toggle="tooltip" data-placement="top" title="Accéder à l'espace d'activités"></i>
                                                    <span data-placement="top" data-toggle="tooltip" title="Inscrire des apprenants" class="btn btn-primary">
                                                        <i data-toggle="modal" class="fa fa-sign-in pointer-hand" data-target="#subscribe-session"></i>
                                                    </span>
                                                    <span data-placement="top" data-toggle="tooltip" title="Désinscrire des apprenants" class="btn btn-primary">
                                                        <i data-toggle="modal" class="fa fa-sign-out pointer-hand" data-target="#unsubscribe-session"></i>
                                                    </span>
                                                     <span data-placement="top" data-toggle="tooltip" title="Supprimer la session" class="btn btn-danger">
                                                        <i data-toggle="modal" class="fa fa-trash-o pointer-hand" data-target="#delete-session-box"></i>
                                                    </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-session-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3>
                        Suppression de la session
                    </h3>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cette session ?
                    <br>
                    <br>
                    <div class="checkbox">
                        <label>
                            <input id="with-workspace-chk" type="checkbox">
                            <b>
                                Supprimer également l&#039;espace d&#039;activités associé
                            </b>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                <span class="pull-right">
                    <span class="btn btn-default pointer-hand"
                          data-dismiss="modal"
                    >
                        Annuler
                    </span>
                    <span id="confirm-session-deletion-btn"
                          class="btn btn-primary pointer-hand">
                        Ok
                    </span>
                </span>
                </div>
            </div>
        </div>
    </div>
    <div id="registration-error-box" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3>
                        L&#039;inscription a échoué
                    </h3>
                </div>
                <div class="modal-body" id="registration-error-box-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">
                        Fermer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="subscribe-session" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h3 id="view-registration-header" class="modal-header">
                </h3>
                <div id="view-registration-body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <input type="button"
                           class="btn btn-default"
                           data-dismiss="modal"
                           value="Fermer">
                </div>
            </div>
        </div>
    </div>
    <div id="unsubscribe-session" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Désinscrire des apprenants</h4>
                </div>
                <div id="view-registration-body" class="modal-body">
                </div>
                <div class="modal-body" style="text-align: left">
                    C'est ici que ça se passe...
                </div>
                <div class="modal-footer">
                    <input type="button"
                           class="btn btn-default"
                           data-dismiss="modal"
                           value="Annuler">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" title="Cliquez ici pour valider">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div id="edit-session" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modification de la session</h4>
                </div>
                <div class="modal-body" style="text-align: left">
                    <div class="container-fluid">
                        <div class="row" style="margin-top: 10px">
                            <div class="panel panel-default">
                                <div class="panel panel-body">
                                    <table class="table table-responsive">
                                        <tr>
                                            <td>Nom</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="name" style="min-width: 30pc" placeholder="Nom de la session">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Date de début</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="start-date" style="min-width: 30pc" placeholder="jj/mm/aaaa">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Heure de début</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="start-hour" style="min-width: 30pc" placeholder="hh:mm">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Date de fin</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="end-date" style="min-width: 30pc" placeholder="jj/mm/aaaa">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Heure de fin</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="start-hour" style="min-width: 30pc" placeholder="hh:mm">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Statut</td>
                                            <td>
                                                <select class="form-control" id="sel1">
                                                    <option selected>Non commencé</option>
                                                    <option>En cours</option>
                                                    <option>Terminé</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Uniquement à distance</td>
                                            <td>
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Définir comme session par défaut</td>
                                            <td>
                                                <i class="fa fa-check-square" style="color: #5CB85C"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lieu par défaut</td>
                                            <td>
                                                <p><i class="fa fa-square-o"></i></br></br>
                                                Interne
                                                <select class="form-control" id="sel1">
                                                    <option selected>Local 1</option>
                                                    <option>Local 2</option>
                                                    <option>Local 3</option>
                                                    <option>Etc.</option>
                                                </select>
                                                </p>
                                                <p>Externe
                                                    <form>
                                                        <input type="text" name="ext-room" style="min-width: 30pc" placeholder="Adresse et nom du local">
                                                    </form>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Inscription publique</td>
                                            <td>
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Désinscription publique</td>
                                            <td>
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Cursus</td>
                                            <td>
                                                <div class="form">
                                                    <select class="form-control" id="sel3">
                                                        <option selected>Choisir le cursus</option>
                                                        <option>Expert pédagogique de Claroline Connect</option>
                                                        <option>Expert technicien de Claroline Connect</option>
                                                        <option>S2CP</option>
                                                        <option>TEST</option>
                                                        <option>TEST Virginie</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" title="Cliquez ici pour valider">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div id="create-session" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Ajout d'une session
                    </h4>
                </div>
                <div class="modal-body" style="text-align: left">
                    <div class="container-fluid">
                        <div class="row" style="margin-top: 10px">
                            <div class="panel panel-default">
                                <div class="panel panel-body">
                                    <table class="table table-responsive">
                                        <tr>
                                            <td>Nom</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="name" style="min-width: 30pc" placeholder="Nom de la session">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Date de début</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="start-date" style="min-width: 30pc" placeholder="jj/mm/aaaa">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Heure de début</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="start-hour" style="min-width: 30pc" placeholder="hh:mm">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Date de fin</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="end-date" style="min-width: 30pc" placeholder="jj/mm/aaaa">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Heure de fin</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="start-hour" style="min-width: 30pc" placeholder="hh:mm">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Statut</td>
                                            <td>
                                                <select class="form-control" id="sel1">
                                                    <option selected>Non commencé</option>
                                                    <option>En cours</option>
                                                    <option>Terminé</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Uniquement à distance</td>
                                            <td>
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Définir comme session par défaut</td>
                                            <td>
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lieu par défaut</td>
                                            <td>
                                                <p><input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                                    </br></br>
                                                    Interne
                                                    <select class="form-control" id="sel1">
                                                        <option selected>Local 1</option>
                                                        <option>Local 2</option>
                                                        <option>Local 3</option>
                                                        <option>Etc.</option>
                                                    </select>
                                                </p>
                                                <p>Externe
                                                <form>
                                                    <input type="text" name="ext-room" style="min-width: 30pc" placeholder="Adresse et nom du local">
                                                </form>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Inscription publique</td>
                                            <td>
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Désinscription publique</td>
                                            <td>
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Cursus</td>
                                            <td>
                                                <div class="form">
                                                    <select class="form-control" id="sel3">
                                                        <option selected>Choisir le cursus</option>
                                                        <option>Expert pédagogique de Claroline Connect</option>
                                                        <option>Expert technicien de Claroline Connect</option>
                                                        <option>S2CP</option>
                                                        <option>TEST</option>
                                                        <option>TEST Virginie</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" title="Cliquez ici pour valider">OK</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal" title="Annuler">Annuler</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    </script>
{% endblock %}