{% extends 'HeVinciMockupBundle::library/claroline/tool.html.twig' %}

{% set toolName = "Gestion des cursus" %}
{% set toolSection = "Administration" %}
{% set toolPage = ['Session', 'Tool session'] %}
{% set toolIcon = "arrow-up" %}

{% block panelRest %}
    <div class="panel-footer">
        {% block panelFooter %}{% endblock %}
    </div>
{% endblock %}