{% extends 'ClarolineCoreBundle::mockup/Training_sessions/training-tool4.html.twig' %}

{% block panelTitle %}

    Gestion des formations
        <a class="btn btn-success pull-right" title="Gestion des cursus" href="#" data-toggle="tooltip" data-placement="top">
            <i class="fa fa-database" aria-hidden="true"></i>
        </a>
        <a class="btn btn-success pull-right" title="Gestion des sessions" href="session_management.html" data-toggle="tooltip" data-placement="top">
            <i class="fa fa-cubes" aria-hidden="true"></i>
        </a>

{% endblock %}

{% block panelRest %}

    <style type="text/css" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

              /* For possible modals on this page */

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color:white !important;
            text-align: center;
            font-size: 20px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }

        /* To give full width to tables */

        table.table.table-hover {
            width:100%;
        }

        /* To change the backgroud color of the top bar */

        .navbar-inverse {
            background-color: #5cb85c;
            border-color: #5cb85c;
        }
        .navbar.navbar-inverse.navbar-fixed-top {
            border-bottom: 2px solid #5cb85c;
        }
        #top_bar li:not(:last-child) > a, .top-bar li:not(:last-child) > a {
            color: white;
            border-right: 1px solid #5cb85c !important;
        }
        .panel-default > .panel-heading {
            color: #fff;
            background-color: #5cb85c;
            border-color: #ddd;
        }
    </style>

    <div class="container-fluid">
        <div class="row btn-group" style="padding: 15px 15px 0 15px">
            <button class="btn btn-primary dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button">
                <i class="fa fa-cog"></i>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="ng-binding" href="#"> Supprimer </a>
                </li>
                <li class="divider" role="separator"></li>
                <li>
                    <a class="ng-binding" href="#"> Nouvelle formation </a>
                </li>
                <li class="divider" role="separator"></li>
                <li>
                    <a class="ng-binding" href="#"> Importer </a>
                </li>
                <li>
                    <a class="ng-binding" href="#"> Exporter </a>
                </li>
            </ul>
        </div>
        <div class="row" style="padding-top: 15px; padding-bottom: 15px">
            <div class="col-xs-hidden col-sm-3 col-md-4">
                <img src="{{ asset('uploads/custom/images/lessons.png') }}" style="max-height: 120px">
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <div class="pagination">
                    <ul>
                        <li class="prev disabled">
                            <span>← Précédent</span>
                        </li>
                        <li class="active">
                            <span>1</span>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li class="next">
                            <a href="#">Suivant →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th style="background-color: #337ab7">
                            <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                        </th>
                        <th style="background-color: #337ab7">
                            <a href="#" style="color: #fff"> Intitulé de la formation</a>
                        </th>
                        <th style="background-color: #337ab7">
                            <a href="#" style="color: #fff"> Code de la formation </a>
                        </th>
                        <th class="text-center" style="color: white; background-color: #337ab7">
                             Actions
                        </th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="text" placeholder="Titre de la formation" class="input-filter form-control ng-pristine ng-valid ng-scope ng-touched" ng-model="params.filter()[name]" ng-disabled="$filterRow.disabled" name="training">
                        </td>
                        <td>
                            <input type="text" placeholder="Code de la formation" class="input-filter form-control ng-pristine ng-valid ng-scope ng-touched" ng-model="params.filter()[name]" ng-disabled="$filterRow.disabled" name="training-code">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                        </td>
                        <td>
                            <a href="#">&nbsp; Adopter les gestes et postures adaptés aux différentes situations afin d'éviter les douleurs et ménager son corps </a>
                            <i class="fa fa-chevron-circle-right pull-left pointer-hand" data-toggle="collapse" data-target="#" aria-hidden="true" style="color: #337ab7"></i>
                        </td>
                        <td> M5N2F </td>
                        <td class="text-center">
                            <span data-placement="top" data-toggle="tooltip" title="Voir les détails de la formation" class="btn btn-info btn-sm">
                                <i data-toggle="modal" class="fa fa-eye pointer-hand" data-target="#view-training-details"></i>
                            </span>
                            <span data-placement="top" data-toggle="tooltip" title="Ajouter une session" class="btn btn-primary btn-sm">
                                <i data-toggle="modal" class="fa fa-cube pointer-hand" data-target="#create-session"></i>
                            </span>
                            <a class="btn btn-primary btn-sm" data-placement="top" data-toggle="tooltip" href="#" title="Modifier la formation">
                                <i class="fa fa-edit"></i>
                            </a>
                            <span data-placement="top" data-toggle="tooltip" title="Supprimer la formation" class="btn btn-danger btn-sm delete-course-btn">
                                <i data-toggle="modal" class="fa fa-trash pointer-hand" data-target="#delete-course-box"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                        </td>
                        <td>
                            <span data-placement="top" data-toggle="tooltip" title="Voir les sessions" class="pull-left" ><i data-toggle="collapse" class="fa fa-chevron-circle-right pointer-hand" data-target="#sessions-tab" style="color: #337ab7"></i></span>
                            <a href="#">&nbsp; Alerter les interlocuteurs concernés par les dysfonctionnements et les risques constatés </a>
                                <div id="sessions-tab" class="table-responsive collapse" aria-expanded="true" style="">
                                    <br>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th> Nom </th>
                                                <th> Date de début </th>
                                                <th> Date de fin </th>
                                                <th class="text-center"> Statut </th>
                                                <th class="text-center"> Actions </th>
                                            </tr>
                                            <tr>
                                                <p><h5><strong>Détails des sessions</strong></h5></p>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="session_file.html" class="show-users-btn pointer-hand"> Test Sessions </a>
                                                    <i title="" style="color: greenyellow" aria-hidden="true" data-placement="top" data-toggle="tooltip" class="fa fa-star pointer-hand" data-original-title="Session par défaut"></i>
                                                </td>
                                                <td> 05/09/2016 10:00 </td>
                                                <td> 07/09/2016 14:30 </td>
                                                <td class="text-center">
                                                    <i class="fa fa-circle-thin pointer-hand" style="color: #706c6c" title="Non commencé" data-placement="top" data-toggle="tooltip"> </i>
                                                </td>
                                                <td class="text-center">
                                                    <i class="btn btn-default fa fa-envelope-o session-send-confirmation-mail-btn" title="Envoyer un courriel de confirmation à tous les apprenants de la session" data-placement="top" data-toggle="tooltip"> </i>
                                                    <i class="btn btn-default fa fa-edit edit-session-btn" title="Modifier la session" data-placement="top" data-toggle="tooltip"> </i>
                                                    <span data-placement="top" data-toggle="tooltip" title="Supprimer la session" class="btn btn-danger btn-sm delete-course-btn">
                                                        <i data-toggle="modal" class="fa fa-trash pointer-hand" data-target="#delete-session-box"></i>
                                                    </span>
                                                </td>
                                            <tr>
                                                <td>
                                                    <a href="#" class="show-users-btn pointer-hand"> Test Sessions 2 </a>
                                                </td>
                                                <td> 20/06/2016 08:20 </td>
                                                <td> 22/07/2016 12:00 </td>
                                                <td class="text-center">
                                                    <i class="fa fa-adjust pointer-hand" style="color: #706c6c" title="En cours" data-placement="top" data-toggle="tooltip"> </i>
                                                </td>
                                                <td class="text-center">
                                                    <i class="btn btn-default fa fa-envelope-o session-send-confirmation-mail-btn" title="Envoyer un courriel de confirmation à tous les apprenants de la session" data-placement="top" data-toggle="tooltip"> </i>
                                                    <i class="btn btn-default fa fa-edit edit-session-btn" title="Modifier la session" data-placement="top" data-toggle="tooltip"> </i>
                                                    <span data-placement="top" data-toggle="tooltip" title="Supprimer la session" class="btn btn-danger btn-sm delete-course-btn">
                                                        <i data-toggle="modal" class="fa fa-trash pointer-hand" data-target="#delete-session-box"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="show-users-btn pointer-hand"> Test Sessions 3 </a>
                                                </td>
                                                <td> 21/06/2016 09:10 </td>
                                                <td> 24/06/2016 15:20 </td>
                                                <td class="text-center">
                                                    <i class="fa fa-adjust pointer-hand" style="color: #706c6c" title="En cours" data-placement="top" data-toggle="tooltip"> </i>
                                                </td>
                                                <td class="text-center">
                                                    <i class="btn btn-default fa fa-envelope-o session-send-confirmation-mail-btn" title="Envoyer un courriel de confirmation à tous les apprenants de la session" data-placement="top" data-toggle="tooltip"> </i>
                                                    <i class="btn btn-default fa fa-edit edit-session-btn" title="Modifier la session" data-placement="top" data-toggle="tooltip"> </i>
                                                    <span data-placement="top" data-toggle="tooltip" title="Supprimer la session" class="btn btn-danger btn-sm delete-course-btn">
                                                        <i data-toggle="modal" class="fa fa-trash pointer-hand" data-target="#delete-session-box"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </td>
                        <td> M4N2D </td>
                        <td class="text-center">
                            <span data-placement="top" data-toggle="tooltip" title="Voir les détails de la formation" class="btn btn-info btn-sm">
                                <i data-toggle="modal" class="fa fa-eye pointer-hand" data-target="#view-training-details"></i>
                            </span>
                            <span data-placement="top" data-toggle="tooltip" title="Ajouter une session" class="btn btn-primary btn-sm">
                                <i data-toggle="modal" class="fa fa-cube pointer-hand" data-target="#create-session"></i>
                            </span>
                            <a class="btn btn-primary btn-sm" data-placement="top" data-toggle="tooltip" href="#" title="Modifier la formation">
                                <i class="fa fa-edit"></i>
                            </a>
                            <span data-placement="top" data-toggle="tooltip" title="Supprimer la formation" class="btn btn-danger btn-sm">
                                <i data-toggle="modal" class="fa fa-trash pointer-hand" data-target="#delete-course-box"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                        </td>
                        <td>
                            <a href="#">&nbsp; Alerter sa hiérarchie en cas de non-application de la procédure </a>
                            <i class="fa fa-chevron-circle-right pull-left pointer-hand" data-toggle="collapse" data-placement="top" data-target="#" aria-hidden="true" style="color: #337ab7"></i>
                        </td>
                        <td> M4N3C </td>
                        <td class="text-center">
                            <span data-placement="top" data-toggle="tooltip" title="Voir les détails de la formation" class="btn btn-info btn-sm">
                                <i data-toggle="modal" class="fa fa-eye pointer-hand" data-target="#view-training-details"></i>
                            </span>
                            <span data-placement="top" data-toggle="tooltip" title="Ajouter une session" class="btn btn-primary btn-sm">
                                <i data-toggle="modal" class="fa fa-cube pointer-hand" data-target="#create-session"></i>
                            </span>
                            <a class="btn btn-primary btn-sm" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Modifier la formation">
                                <i class="fa fa-edit"></i>
                            </a>
                            <span data-placement="top" data-toggle="tooltip" title="Supprimer la formation" class="btn btn-danger btn-sm delete-course-btn">
                                <i data-toggle="modal" class="fa fa-trash pointer-hand" data-target="#delete-course-box"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                        </td>
                        <td>
                            <a href="#">&nbsp; Aller chercher des informations, consulter des personnes ressources </a>
                            <i class="fa fa-chevron-circle-right pull-left pointer-hand" data-toggle="collapse" data-target="#" aria-hidden="true" style="color: #337ab7"></i>
                        </td>
                        <td> M6N1C </td>
                        <td class="text-center">
                            <span data-placement="top" data-toggle="tooltip" title="Voir les détails de la formation" class="btn btn-info btn-sm">
                                <i data-toggle="modal" class="fa fa-eye pointer-hand" data-target="#view-training-details"></i>
                            </span>
                            <span data-placement="top" data-toggle="tooltip" title="Ajouter une session" class="btn btn-primary btn-sm">
                                <i data-toggle="modal" class="fa fa-cube pointer-hand" data-target="#create-session"></i>
                            </span>
                            <a class="btn btn-primary btn-sm" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Modifier la formation">
                                <i class="fa fa-edit"></i>
                            </a>
                            <span data-placement="top" data-toggle="tooltip" title="Supprimer la formation" class="btn btn-danger btn-sm delete-course-btn">
                                <i data-toggle="modal" class="fa fa-trash pointer-hand" data-target="#delete-course-box"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                        </td>
                        <td>
                            <a href="fiche_configuration_CC.html">&nbsp; Configuration de la plateforme CC </a>
                            <i class="fa fa-chevron-circle-right pull-left pointer-hand" data-toggle="collapse" data-target="#" aria-hidden="true" style="color: #337ab7"></i>
                        </td>
                        <td> FL-CL-A-cp </td>
                        <td class="text-center">
                            <span data-placement="top" data-toggle="tooltip" title="Voir les détails de la formation" class="btn btn-info btn-sm">
                                <i data-toggle="modal" class="fa fa-eye pointer-hand" data-target="#view-training-details"></i>
                            </span>
                            <span data-placement="top" data-toggle="tooltip" title="Ajouter une session" class="btn btn-primary btn-sm">
                                <i data-toggle="modal" class="fa fa-cube pointer-hand" data-target="#create-session"></i>
                            </span>
                            <a class="btn btn-primary btn-sm" data-placement="top" data-toggle="tooltip" href="training-view-8.html" data-original-title="Modifier la formation">
                                <i class="fa fa-edit"></i>
                            </a>
                            <span data-placement="top" data-toggle="tooltip" title="Supprimer la formation" class="btn btn-danger btn-sm delete-course-btn">
                                <i data-toggle="modal" class="fa fa-trash pointer-hand" data-target="#delete-course-box"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="delete-course-box" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4>
                        Suppression de la formation
                    </h4>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cette formation ?
                    <br>
                </div>
                <div class="modal-footer">
                    <span id="confirm-session-deletion-btn"
                          class="btn btn-primary pointer-hand pull-right"
                          data-dismiss="modal">
                        OK
                    </span>
                    <span class="btn btn-default pointer-hand pull-right"
                          data-dismiss="modal">
                        Annuler
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="create-session" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Ajout d'une session
                    </h4>
                </div>
                <div class="modal-body" style="text-align: left">
                    <div class="container-fluid">
                        <div class="row" style="margin-top: 10px">
                            <div class="panel panel-default">
                                <div class="panel panel-body">
                                    <table class="table table-responsive">
                                        <tr>
                                            <td>Nom</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="name" style="min-width: 30pc" placeholder="Nom de la session">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Date de début</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="start-date" style="min-width: 30pc" placeholder="jj/mm/aaaa">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Heure de début</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="start-hour" style="min-width: 30pc" placeholder="hh:mm">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Date de fin</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="end-date" style="min-width: 30pc" placeholder="jj/mm/aaaa">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Heure de fin</td>
                                            <td>
                                                <form>
                                                    <input type="text" name="start-hour" style="min-width: 30pc" placeholder="hh:mm">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Statut</td>
                                            <td>
                                                <select class="form-control" id="sel1">
                                                    <option selected>Non commencé</option>
                                                    <option>En cours</option>
                                                    <option>Terminé</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Uniquement à distance</td>
                                            <td>
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Définir comme session par défaut</td>
                                            <td>
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lieu par défaut</td>
                                            <td>
                                                <p><input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                                    </br></br>
                                                    Interne
                                                    <select class="form-control" id="sel1">
                                                        <option selected>Local 1</option>
                                                        <option>Local 2</option>
                                                        <option>Local 3</option>
                                                        <option>Etc.</option>
                                                    </select>
                                                </p>
                                                <p>Externe
                                                <form>
                                                    <input type="text" name="ext-room" style="min-width: 30pc" placeholder="Adresse et nom du local">
                                                </form>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Inscription publique</td>
                                            <td>
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Désinscription publique</td>
                                            <td>
                                                <input type="checkbox" ng-checked="hcell.selected" ng-click="hcell.onCheckboxChange()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Cursus</td>
                                            <td>
                                                <div class="form">
                                                    <select multiple id="sel3" class="form-control">
                                                        <option>Choisir le cursus</option>
                                                        <option>Expert pédagogique de Claroline Connect</option>
                                                        <option>Expert technicien de Claroline Connect</option>
                                                        <option>S2CP</option>
                                                        <option>TEST</option>
                                                        <option>TEST Virginie</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" title="Cliquez ici pour valider">OK</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal" title="Annuler">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <div id="view-training-details" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Détails de la formation
                    </h4>
                </div>
                <div class="modal-body" style="text-align: left">
                    <div class="container-fluid">
                        <form novalidate="" enctype="multipart/form-data" method="POST" action="#">
                            <div id="course_form" style="padding-top: 15px">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" for="course_form_description"> Description </label>
                                    <div class="col-md-9">
                                            <input id="course_form_description" class="form-control" type="text" value="Description" name="course_form[description]">
                                        </div>
                                    </div>
                                </div>
                                {#<div class="form-group row">#}
                                    {#<label class="control-label col-md-3" for="course_form_icon"> Icône </label>#}
                                    {#<div class="col-md-9">#}
                                        {#<input id="course_form_icon" class="form-control" type="file" name="course_form[icon]">#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="form-group row">#}
                                    {#<label class="control-label col-md-3 required" for="course_form_publicRegistration"> Inscription publique </label>#}
                                    {#<div class="col-md-9">#}
                                        {#<input id="course_form_publicRegistration" class="control-standalone control-standalone" type="checkbox" value="1" required="required" name="course_form[publicRegistration]">#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="form-group row">#}
                                    {#<label class="control-label col-md-3 required" for="course_form_publicUnregistration"> Désinscription publique </label>#}
                                    {#<div class="col-md-9">#}
                                        {#<input id="course_form_publicUnregistration" class="control-standalone control-standalone" type="checkbox" value="1" required="required" name="course_form[publicUnregistration]">#}
                                    {#</div>#}
                                {#</div>#}
                                <div class="form-group row">
                                    <label class="control-label col-md-3" for="course_form_description"> Nom de l'espace d'activités </label>
                                    <div class="col-md-9">
                                        <input id="course_form_description" class="form-control" type="text" value="Nom de l'espace d'activités" name="course_form[EA]">
                                    </div>
                                </div>
                                {#<div class="form-group row">#}
                                    {#<label class="control-label col-md-3" for="course_form_tutorRoleName"> Rôle des tuteurs </label>#}
                                    {#<div class="col-md-9">#}
                                        {#<input id="course_form_tutorRoleName" class="role-name-txt form-control" type="text" value="Formateur" name="course_form[tutorRoleName]">#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="form-group row">#}
                                    {#<label class="control-label col-md-3" for="course_form_learnerRoleName"> Rôle des apprenants </label>#}
                                    {#<div class="col-md-9">#}
                                        {#<input id="course_form_learnerRoleName" class="role-name-txt form-control" type="text" value="Stagiaire" name="course_form[learnerRoleName]">#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="form-group row">#}
                                    {#<label class="control-label col-md-3" for="course_form_maxUsers"> Nombre maximum d'utilisateurs </label>#}
                                    {#<div class="col-md-9">#}
                                        {#<input id="course_form_maxUsers" class="form-control" type="number" min="0" name="course_form[maxUsers]">#}
                                    {#</div>#}
                                {#</div>#}
                                <div class="form-group row">
                                    <label class="control-label col-md-3 required" for="course_form_userValidation"> Validation de l'utilisateur </label>
                                    <div class="col-md-9">
                                        <input id="course_form_userValidation" class="control-standalone control-standalone" type="checkbox" value="1" required="required" name="course_form[userValidation]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3 required" for="course_form_organizationValidation"> Validation par l'organisation </label>
                                    <div class="col-md-9">
                                        <input id="course_form_organizationValidation" class="control-standalone control-standalone" type="checkbox" value="1" required="required" name="course_form[organizationValidation]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3 required" for="course_form_registrationValidation"> Validation de l'inscription </label>
                                    <div class="col-md-9">
                                        <input id="course_form_registrationValidation" class="control-standalone control-standalone" type="checkbox" value="1" required="required" name="course_form[registrationValidation]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3" for="course_form_validators"> Validateurs </label>
                                    <div class="col-md-9">
                                        <input id="course_form_description" class="form-control" type="text" value="Noms des validateurs" name="course_form[validators]">
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary pull-right" class="close" data-dismiss="modal"> Ok </button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
    </script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    </script>
{% endblock %}