{% extends 'HeVinciMockupBundle::library/claroline/tool.html.twig' %}

{% set toolName = 'translation_platform'|trans({}, 'translation') %}
{% set toolSection = 'management'|trans({}, 'translation')  %}
{% set toolPage = ['Traductions', ''] %}
{% set toolIcon = "arrow-up" %}

{% block panelRest %}
    <div class="panel-footer">
        {% block panelFooter %}{% endblock %}
    </div>
{% endblock %}